<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100</key>
	<string>20.81</string>
	<key>125</key>
	<string>20.81</string>
	<key>160</key>
	<string>17.81</string>
	<key>200</key>
	<string>14.92</string>
	<key>222</key>
	<string>13.78</string>
	<key>250</key>
	<string>12.57</string>
	<key>315</key>
	<string>10.37</string>
	<key>354</key>
	<string>9.29</string>
	<key>400</key>
	<string>8.19</string>
	<key>449</key>
	<string>7.19</string>
	<key>500</key>
	<string>6.24</string>
	<key>561</key>
	<string>5.09</string>
	<key>630</key>
	<string>3.79</string>
	<key>707</key>
	<string>2.46</string>
	<key>800</key>
	<string>1.18</string>
	<key>898</key>
	<string>0.33</string>
	<key>1000</key>
	<string>0</string>
	<key>1122</key>
	<string>0.31</string>
	<key>1250</key>
	<string>0.93</string>
	<key>1403</key>
	<string>1.26</string>
	<key>1600</key>
	<string>0.49</string>
	<key>1796</key>
	<string>-1.75</string>
	<key>2000</key>
	<string>-4.70</string>
	<key>2245</key>
	<string>-7.67</string>
	<key>2500</key>
	<string>-9.92</string>
	<key>2806</key>
	<string>-11.60</string>
	<key>3150</key>
	<string>-12.00</string>
	<key>3536</key>
	<string>-10.89</string>
	<key>4000</key>
	<string>-8.79</string>
	<key>4490</key>
	<string>-7.14</string>
	<key>5000</key>
	<string>-5.84</string>
	<key>5612</key>
	<string>-3.92</string>
	<key>6300</key>
	<string>-0.06</string>
	<key>7072</key>
	<string>5.89</string>
	<key>8000</key>
	<string>10.85</string>
	<key>8980</key>
	<string>11.64</string>
	<key>10000</key>
	<string>16.15</string>
	<key>11224</key>
	<string>15.94</string>
	<key>12500</key>
	<string>17.73</string>
</dict>
</plist>
