<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100</key>
	<string>83.54</string>
	<key>125</key>
	<string>83.54</string>
	<key>140</key>
	<string>83.39</string>
	<key>157</key>
	<string>83.26</string>
	<key>160</key>
	<string>83.26</string>
	<key>176</key>
	<string>83.16</string>
	<key>200</key>
	<string>83.09</string>
	<key>222</key>
	<string>83.07</string>
	<key>250</key>
	<string>83.11</string>
	<key>280</key>
	<string>83.21</string>
	<key>315</key>
	<string>83.4</string>
	<key>354</key>
	<string>83.66</string>
	<key>400</key>
	<string>83.99</string>
	<key>449</key>
	<string>84.33</string>
	<key>500</key>
	<string>84.58</string>
	<key>561</key>
	<string>84.69</string>
	<key>630</key>
	<string>84.59</string>
	<key>707</key>
	<string>84.26</string>
	<key>800</key>
	<string>83.71</string>
	<key>898</key>
	<string>83.13</string>
	<key>1000</key>
	<string>82.28</string>
	<key>1122</key>
	<string>83.05</string>
	<key>1250</key>
	<string>83.9</string>
	<key>1403</key>
	<string>85.3</string>
	<key>1600</key>
	<string>87</string>
	<key>1796</key>
	<string>88.24</string>
	<key>2000</key>
	<string>89.29</string>
	<key>2245</key>
	<string>90.51</string>
	<key>2500</key>
	<string>91.64</string>
	<key>2806</key>
	<string>92.53</string>
	<key>3150</key>
	<string>92.51</string>
	<key>3536</key>
	<string>91.34</string>
	<key>4000</key>
	<string>89.76</string>
	<key>4490</key>
	<string>89.34</string>
	<key>5000</key>
	<string>90</string>
	<key>5612</key>
	<string>91.21</string>
	<key>6300</key>
	<string>91.57</string>
	<key>7072</key>
	<string>90.23</string>
	<key>8000</key>
	<string>88.22</string>
	<key>8980</key>
	<string>87.77</string>
	<key>10000</key>
	<string>88.22</string>
	<key>11224</key>
	<string>88.22</string>
	<key>12500</key>
	<string>88.22</string>
</dict>
</plist>
