<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1000</key>
	<dict>
		<key>0.0625</key>
		<string>18.69</string>
		<key>0.1250</key>
		<string>25.69</string>
		<key>0.1875</key>
		<string>32.19</string>
		<key>0.2500</key>
		<string>37.19</string>
		<key>0.3125</key>
		<string>42.19</string>
		<key>0.3750</key>
		<string>46.69</string>
		<key>0.4375</key>
		<string>51.2</string>
		<key>0.5000</key>
		<string>55.19</string>
		<key>0.5625</key>
		<string>59.19</string>
		<key>0.6250</key>
		<string>63.19</string>
		<key>0.6875</key>
		<string>67.2</string>
		<key>0.7500</key>
		<string>70.69</string>
		<key>0.8125</key>
		<string>74.19</string>
		<key>0.8750</key>
		<string>77.69</string>
		<key>0.9375</key>
		<string>81.19</string>
		<key>1.0000</key>
		<string>84.19</string>
	</dict>
	<key>10000</key>
	<dict>
		<key>0.0625</key>
		<string>32.97</string>
		<key>0.1250</key>
		<string>39.97</string>
		<key>0.1875</key>
		<string>46.47</string>
		<key>0.2500</key>
		<string>51.47</string>
		<key>0.3125</key>
		<string>56.47</string>
		<key>0.3750</key>
		<string>60.97</string>
		<key>0.4375</key>
		<string>65.47</string>
		<key>0.5000</key>
		<string>69.47</string>
		<key>0.5625</key>
		<string>73.47</string>
		<key>0.6250</key>
		<string>77.47</string>
		<key>0.6875</key>
		<string>81.47</string>
		<key>0.7500</key>
		<string>84.96</string>
		<key>0.8125</key>
		<string>88.46</string>
		<key>0.8750</key>
		<string>91.96</string>
		<key>0.9375</key>
		<string>95.46</string>
		<key>1.0000</key>
		<string>98.46</string>
	</dict>
	<key>1122</key>
	<dict>
		<key>0.0625</key>
		<string>19.48</string>
		<key>0.1250</key>
		<string>26.48</string>
		<key>0.1875</key>
		<string>32.98</string>
		<key>0.2500</key>
		<string>37.98</string>
		<key>0.3125</key>
		<string>42.98</string>
		<key>0.3750</key>
		<string>47.48</string>
		<key>0.4375</key>
		<string>51.98</string>
		<key>0.5000</key>
		<string>55.98</string>
		<key>0.5625</key>
		<string>59.99</string>
		<key>0.6250</key>
		<string>63.99</string>
		<key>0.6875</key>
		<string>67.98</string>
		<key>0.7500</key>
		<string>71.48</string>
		<key>0.8125</key>
		<string>74.98</string>
		<key>0.8750</key>
		<string>78.48</string>
		<key>0.9375</key>
		<string>81.98</string>
		<key>1.0000</key>
		<string>84.98</string>
	</dict>
	<key>11224</key>
	<dict>
		<key>0.0625</key>
		<string>32.31</string>
		<key>0.1250</key>
		<string>39.31</string>
		<key>0.1875</key>
		<string>45.81</string>
		<key>0.2500</key>
		<string>50.81</string>
		<key>0.3125</key>
		<string>55.81</string>
		<key>0.3750</key>
		<string>60.31</string>
		<key>0.4375</key>
		<string>64.81</string>
		<key>0.5000</key>
		<string>68.82</string>
		<key>0.5625</key>
		<string>72.82</string>
		<key>0.6250</key>
		<string>76.81</string>
		<key>0.6875</key>
		<string>80.82</string>
		<key>0.7500</key>
		<string>84.31</string>
		<key>0.8125</key>
		<string>87.81</string>
		<key>0.8750</key>
		<string>91.31</string>
		<key>0.9375</key>
		<string>94.81</string>
		<key>1.0000</key>
		<string>97.81</string>
	</dict>
	<key>1250</key>
	<dict>
		<key>0.0625</key>
		<string>20.51</string>
		<key>0.1250</key>
		<string>27.51</string>
		<key>0.1875</key>
		<string>34.01</string>
		<key>0.2500</key>
		<string>39.01</string>
		<key>0.3125</key>
		<string>44.01</string>
		<key>0.3750</key>
		<string>48.51</string>
		<key>0.4375</key>
		<string>53.00</string>
		<key>0.5000</key>
		<string>57.00</string>
		<key>0.5625</key>
		<string>61.00</string>
		<key>0.6250</key>
		<string>65.01</string>
		<key>0.6875</key>
		<string>69.00</string>
		<key>0.7500</key>
		<string>72.50</string>
		<key>0.8125</key>
		<string>76.00</string>
		<key>0.8750</key>
		<string>79.50</string>
		<key>0.9375</key>
		<string>83.00</string>
		<key>1.0000</key>
		<string>86.00</string>
	</dict>
	<key>12500</key>
	<dict>
		<key>0.0625</key>
		<string>30.17</string>
		<key>0.1250</key>
		<string>37.17</string>
		<key>0.1875</key>
		<string>43.67</string>
		<key>0.2500</key>
		<string>48.67</string>
		<key>0.3125</key>
		<string>53.67</string>
		<key>0.3750</key>
		<string>58.17</string>
		<key>0.4375</key>
		<string>62.67</string>
		<key>0.5000</key>
		<string>66.67</string>
		<key>0.5625</key>
		<string>70.67</string>
		<key>0.6250</key>
		<string>74.67</string>
		<key>0.6875</key>
		<string>78.67</string>
		<key>0.7500</key>
		<string>82.17</string>
		<key>0.8125</key>
		<string>85.67</string>
		<key>0.8750</key>
		<string>89.17</string>
		<key>0.9375</key>
		<string>92.67</string>
		<key>1.0000</key>
		<string>95.67</string>
	</dict>
	<key>1403</key>
	<dict>
		<key>0.0625</key>
		<string>21.28</string>
		<key>0.1250</key>
		<string>28.28</string>
		<key>0.1875</key>
		<string>34.78</string>
		<key>0.2500</key>
		<string>39.78</string>
		<key>0.3125</key>
		<string>44.78</string>
		<key>0.3750</key>
		<string>49.28</string>
		<key>0.4375</key>
		<string>53.78</string>
		<key>0.5000</key>
		<string>57.78</string>
		<key>0.5625</key>
		<string>61.78</string>
		<key>0.6250</key>
		<string>65.78</string>
		<key>0.6875</key>
		<string>69.78</string>
		<key>0.7500</key>
		<string>73.27</string>
		<key>0.8125</key>
		<string>76.77</string>
		<key>0.8750</key>
		<string>80.27</string>
		<key>0.9375</key>
		<string>83.77</string>
		<key>1.0000</key>
		<string>86.77</string>
	</dict>
	<key>1600</key>
	<dict>
		<key>0.0625</key>
		<string>21.19</string>
		<key>0.1250</key>
		<string>28.19</string>
		<key>0.1875</key>
		<string>34.69</string>
		<key>0.2500</key>
		<string>39.69</string>
		<key>0.3125</key>
		<string>44.69</string>
		<key>0.3750</key>
		<string>49.19</string>
		<key>0.4375</key>
		<string>53.69</string>
		<key>0.5000</key>
		<string>57.69</string>
		<key>0.5625</key>
		<string>61.69</string>
		<key>0.6250</key>
		<string>65.69</string>
		<key>0.6875</key>
		<string>69.69</string>
		<key>0.7500</key>
		<string>73.19</string>
		<key>0.8125</key>
		<string>76.69</string>
		<key>0.8750</key>
		<string>80.19</string>
		<key>0.9375</key>
		<string>83.69</string>
		<key>1.0000</key>
		<string>86.69</string>
	</dict>
	<key>1796</key>
	<dict>
		<key>0.0625</key>
		<string>19.82</string>
		<key>0.1250</key>
		<string>26.82</string>
		<key>0.1875</key>
		<string>33.32</string>
		<key>0.2500</key>
		<string>38.32</string>
		<key>0.3125</key>
		<string>43.32</string>
		<key>0.3750</key>
		<string>47.82</string>
		<key>0.4375</key>
		<string>52.32</string>
		<key>0.5000</key>
		<string>56.32</string>
		<key>0.5625</key>
		<string>60.32</string>
		<key>0.6250</key>
		<string>64.32</string>
		<key>0.6875</key>
		<string>68.32</string>
		<key>0.7500</key>
		<string>71.82</string>
		<key>0.8125</key>
		<string>75.32</string>
		<key>0.8750</key>
		<string>78.82</string>
		<key>0.9375</key>
		<string>82.32</string>
		<key>1.0000</key>
		<string>85.32</string>
	</dict>
	<key>2000</key>
	<dict>
		<key>0.0625</key>
		<string>17.91</string>
		<key>0.1250</key>
		<string>24.91</string>
		<key>0.1875</key>
		<string>31.41</string>
		<key>0.2500</key>
		<string>36.41</string>
		<key>0.3125</key>
		<string>41.41</string>
		<key>0.3750</key>
		<string>45.92</string>
		<key>0.4375</key>
		<string>50.42</string>
		<key>0.5000</key>
		<string>54.41</string>
		<key>0.5625</key>
		<string>58.41</string>
		<key>0.6250</key>
		<string>62.41</string>
		<key>0.6875</key>
		<string>66.42</string>
		<key>0.7500</key>
		<string>69.91</string>
		<key>0.8125</key>
		<string>73.41</string>
		<key>0.8750</key>
		<string>76.91</string>
		<key>0.9375</key>
		<string>80.41</string>
		<key>1.0000</key>
		<string>83.41</string>
	</dict>
	<key>2245</key>
	<dict>
		<key>0.0625</key>
		<string>16.23</string>
		<key>0.1250</key>
		<string>23.23</string>
		<key>0.1875</key>
		<string>29.73</string>
		<key>0.2500</key>
		<string>34.73</string>
		<key>0.3125</key>
		<string>39.73</string>
		<key>0.3750</key>
		<string>44.23</string>
		<key>0.4375</key>
		<string>48.73</string>
		<key>0.5000</key>
		<string>52.73</string>
		<key>0.5625</key>
		<string>56.73</string>
		<key>0.6250</key>
		<string>60.73</string>
		<key>0.6875</key>
		<string>64.73</string>
		<key>0.7500</key>
		<string>68.23</string>
		<key>0.8125</key>
		<string>71.73</string>
		<key>0.8750</key>
		<string>75.23</string>
		<key>0.9375</key>
		<string>78.73</string>
		<key>1.0000</key>
		<string>81.73</string>
	</dict>
	<key>2500</key>
	<dict>
		<key>0.0625</key>
		<string>15.19</string>
		<key>0.1250</key>
		<string>22.19</string>
		<key>0.1875</key>
		<string>28.69</string>
		<key>0.2500</key>
		<string>33.69</string>
		<key>0.3125</key>
		<string>38.69</string>
		<key>0.3750</key>
		<string>43.19</string>
		<key>0.4375</key>
		<string>47.69</string>
		<key>0.5000</key>
		<string>51.70</string>
		<key>0.5625</key>
		<string>55.69</string>
		<key>0.6250</key>
		<string>59.69</string>
		<key>0.6875</key>
		<string>63.0</string>
		<key>0.7500</key>
		<string>67.19</string>
		<key>0.8125</key>
		<string>70.69</string>
		<key>0.8750</key>
		<string>74.19</string>
		<key>0.9375</key>
		<string>77.69</string>
		<key>1.0000</key>
		<string>80.69</string>
	</dict>
	<key>2806</key>
	<dict>
		<key>0.0625</key>
		<string>14.52</string>
		<key>0.1250</key>
		<string>21.52</string>
		<key>0.1875</key>
		<string>28.02</string>
		<key>0.2500</key>
		<string>33.02</string>
		<key>0.3125</key>
		<string>38.02</string>
		<key>0.3750</key>
		<string>42.52</string>
		<key>0.4375</key>
		<string>47.02</string>
		<key>0.5000</key>
		<string>51.02</string>
		<key>0.5625</key>
		<string>55.03</string>
		<key>0.6250</key>
		<string>59.02</string>
		<key>0.6875</key>
		<string>63.02</string>
		<key>0.7500</key>
		<string>66.52</string>
		<key>0.8125</key>
		<string>70.02</string>
		<key>0.8750</key>
		<string>73.52</string>
		<key>0.9375</key>
		<string>77.02</string>
		<key>1.0000</key>
		<string>80.02</string>
	</dict>
	<key>315</key>
	<dict>
		<key>0.0625</key>
		<string>26.26</string>
		<key>0.1250</key>
		<string>33.26</string>
		<key>0.1875</key>
		<string>39.76</string>
		<key>0.2500</key>
		<string>44.76</string>
		<key>0.3125</key>
		<string>49.76</string>
		<key>0.3750</key>
		<string>54.26</string>
		<key>0.4375</key>
		<string>58.76</string>
		<key>0.5000</key>
		<string>62.76</string>
		<key>0.5625</key>
		<string>66.76</string>
		<key>0.6250</key>
		<string>70.76</string>
		<key>0.6875</key>
		<string>74.76</string>
		<key>0.7500</key>
		<string>78.26</string>
		<key>0.8125</key>
		<string>81.76</string>
		<key>0.8750</key>
		<string>85.26</string>
		<key>0.9375</key>
		<string>88.76</string>
		<key>1.0000</key>
		<string>91.76</string>
	</dict>
	<key>3150</key>
	<dict>
		<key>0.0625</key>
		<string>14.30</string>
		<key>0.1250</key>
		<string>21.30</string>
		<key>0.1875</key>
		<string>27.80</string>
		<key>0.2500</key>
		<string>32.80</string>
		<key>0.3125</key>
		<string>37.80</string>
		<key>0.3750</key>
		<string>42.29</string>
		<key>0.4375</key>
		<string>46.79</string>
		<key>0.5000</key>
		<string>50.80</string>
		<key>0.5625</key>
		<string>54.80</string>
		<key>0.6250</key>
		<string>58.79</string>
		<key>0.6875</key>
		<string>62.79</string>
		<key>0.7500</key>
		<string>66.30</string>
		<key>0.8125</key>
		<string>69.80</string>
		<key>0.8750</key>
		<string>73.30</string>
		<key>0.9375</key>
		<string>76.80</string>
		<key>1.0000</key>
		<string>79.80</string>
	</dict>
	<key>3536</key>
	<dict>
		<key>0.0625</key>
		<string>14.52</string>
		<key>0.1250</key>
		<string>21.52</string>
		<key>0.1875</key>
		<string>28.02</string>
		<key>0.2500</key>
		<string>33.02</string>
		<key>0.3125</key>
		<string>38.02</string>
		<key>0.3750</key>
		<string>42.52</string>
		<key>0.4375</key>
		<string>47.01</string>
		<key>0.5000</key>
		<string>51.02</string>
		<key>0.5625</key>
		<string>55.01</string>
		<key>0.6250</key>
		<string>59.01</string>
		<key>0.6875</key>
		<string>63.01</string>
		<key>0.7500</key>
		<string>66.52</string>
		<key>0.8125</key>
		<string>70.02</string>
		<key>0.8750</key>
		<string>73.52</string>
		<key>0.9375</key>
		<string>77.02</string>
		<key>1.0000</key>
		<string>80.02</string>
	</dict>
	<key>354</key>
	<dict>
		<key>0.0625</key>
		<string>24.94</string>
		<key>0.1250</key>
		<string>31.94</string>
		<key>0.1875</key>
		<string>38.44</string>
		<key>0.2500</key>
		<string>43.44</string>
		<key>0.3125</key>
		<string>48.44</string>
		<key>0.3750</key>
		<string>52.93</string>
		<key>0.4375</key>
		<string>57.44</string>
		<key>0.5000</key>
		<string>61.44</string>
		<key>0.5625</key>
		<string>65.44</string>
		<key>0.6250</key>
		<string>69.44</string>
		<key>0.6875</key>
		<string>73.43</string>
		<key>0.7500</key>
		<string>76.93</string>
		<key>0.8125</key>
		<string>80.43</string>
		<key>0.8750</key>
		<string>83.93</string>
		<key>0.9375</key>
		<string>87.43</string>
		<key>1.0000</key>
		<string>90.43</string>
	</dict>
	<key>400</key>
	<dict>
		<key>0.0625</key>
		<string>23.67</string>
		<key>0.1250</key>
		<string>30.67</string>
		<key>0.1875</key>
		<string>37.17</string>
		<key>0.2500</key>
		<string>42.17</string>
		<key>0.3125</key>
		<string>47.17</string>
		<key>0.3750</key>
		<string>51.66</string>
		<key>0.4375</key>
		<string>56.16</string>
		<key>0.5000</key>
		<string>60.16</string>
		<key>0.5625</key>
		<string>64.16</string>
		<key>0.6250</key>
		<string>68.16</string>
		<key>0.6875</key>
		<string>72.16</string>
		<key>0.7500</key>
		<string>75.66</string>
		<key>0.8125</key>
		<string>79.16</string>
		<key>0.8750</key>
		<string>82.66</string>
		<key>0.9375</key>
		<string>86.16</string>
		<key>1.0000</key>
		<string>89.16</string>
	</dict>
	<key>4000</key>
	<dict>
		<key>0.0625</key>
		<string>15.33</string>
		<key>0.1250</key>
		<string>22.33</string>
		<key>0.1875</key>
		<string>28.83</string>
		<key>0.2500</key>
		<string>33.83</string>
		<key>0.3125</key>
		<string>38.83</string>
		<key>0.3750</key>
		<string>43.34</string>
		<key>0.4375</key>
		<string>47.83</string>
		<key>0.5000</key>
		<string>51.83</string>
		<key>0.5625</key>
		<string>55.83</string>
		<key>0.6250</key>
		<string>59.83</string>
		<key>0.6875</key>
		<string>63.83</string>
		<key>0.7500</key>
		<string>67.34</string>
		<key>0.8125</key>
		<string>70.84</string>
		<key>0.8750</key>
		<string>74.34</string>
		<key>0.9375</key>
		<string>77.84</string>
		<key>1.0000</key>
		<string>80.84</string>
	</dict>
	<key>449</key>
	<dict>
		<key>0.0625</key>
		<string>22.61</string>
		<key>0.1250</key>
		<string>29.61</string>
		<key>0.1875</key>
		<string>36.11</string>
		<key>0.2500</key>
		<string>41.11</string>
		<key>0.3125</key>
		<string>46.11</string>
		<key>0.3750</key>
		<string>50.61</string>
		<key>0.4375</key>
		<string>55.11</string>
		<key>0.5000</key>
		<string>59.11</string>
		<key>0.5625</key>
		<string>63.11</string>
		<key>0.6250</key>
		<string>67.11</string>
		<key>0.6875</key>
		<string>71.11</string>
		<key>0.7500</key>
		<string>74.61</string>
		<key>0.8125</key>
		<string>78.11</string>
		<key>0.8750</key>
		<string>81.61</string>
		<key>0.9375</key>
		<string>85.11</string>
		<key>1.0000</key>
		<string>88.11</string>
	</dict>
	<key>4490</key>
	<dict>
		<key>0.0625</key>
		<string>16.75</string>
		<key>0.1250</key>
		<string>23.75</string>
		<key>0.1875</key>
		<string>30.25</string>
		<key>0.2500</key>
		<string>35.25</string>
		<key>0.3125</key>
		<string>40.25</string>
		<key>0.3750</key>
		<string>44.76</string>
		<key>0.4375</key>
		<string>49.26</string>
		<key>0.5000</key>
		<string>53.26</string>
		<key>0.5625</key>
		<string>57.26</string>
		<key>0.6250</key>
		<string>61.26</string>
		<key>0.6875</key>
		<string>65.26</string>
		<key>0.7500</key>
		<string>68.75</string>
		<key>0.8125</key>
		<string>72.25</string>
		<key>0.8750</key>
		<string>75.75</string>
		<key>0.9375</key>
		<string>79.25</string>
		<key>1.0000</key>
		<string>82.25</string>
	</dict>
	<key>500</key>
	<dict>
		<key>0.0625</key>
		<string>21.74</string>
		<key>0.1250</key>
		<string>28.74</string>
		<key>0.1875</key>
		<string>35.24</string>
		<key>0.2500</key>
		<string>40.24</string>
		<key>0.3125</key>
		<string>45.24</string>
		<key>0.3750</key>
		<string>49.73</string>
		<key>0.4375</key>
		<string>54.23</string>
		<key>0.5000</key>
		<string>58.23</string>
		<key>0.5625</key>
		<string>62.24</string>
		<key>0.6250</key>
		<string>66.24</string>
		<key>0.6875</key>
		<string>70.24</string>
		<key>0.7500</key>
		<string>73.74</string>
		<key>0.8125</key>
		<string>77.24</string>
		<key>0.8750</key>
		<string>80.74</string>
		<key>0.9375</key>
		<string>84.24</string>
		<key>1.0000</key>
		<string>87.24</string>
	</dict>
	<key>5000</key>
	<dict>
		<key>0.0625</key>
		<string>18.69</string>
		<key>0.1250</key>
		<string>25.69</string>
		<key>0.1875</key>
		<string>32.19</string>
		<key>0.2500</key>
		<string>37.19</string>
		<key>0.3125</key>
		<string>42.19</string>
		<key>0.3750</key>
		<string>46.70</string>
		<key>0.4375</key>
		<string>51.19</string>
		<key>0.5000</key>
		<string>55.19</string>
		<key>0.5625</key>
		<string>59.19</string>
		<key>0.6250</key>
		<string>63.19</string>
		<key>0.6875</key>
		<string>67.19</string>
		<key>0.7500</key>
		<string>70.19</string>
		<key>0.8125</key>
		<string>74.19</string>
		<key>0.8750</key>
		<string>77.19</string>
		<key>0.9375</key>
		<string>81.19</string>
		<key>1.0000</key>
		<string>84.19</string>
	</dict>
	<key>561</key>
	<dict>
		<key>0.0625</key>
		<string>20.85</string>
		<key>0.1250</key>
		<string>27.85</string>
		<key>0.1875</key>
		<string>34.35</string>
		<key>0.2500</key>
		<string>39.35</string>
		<key>0.3125</key>
		<string>44.35</string>
		<key>0.3750</key>
		<string>48.85</string>
		<key>0.4375</key>
		<string>53.35</string>
		<key>0.5000</key>
		<string>57.35</string>
		<key>0.5625</key>
		<string>61.35</string>
		<key>0.6250</key>
		<string>65.35</string>
		<key>0.6875</key>
		<string>69.35</string>
		<key>0.7500</key>
		<string>72.85</string>
		<key>0.8125</key>
		<string>76.35</string>
		<key>0.8750</key>
		<string>79.85</string>
		<key>0.9375</key>
		<string>83.35</string>
		<key>1.0000</key>
		<string>86.35</string>
	</dict>
	<key>5612</key>
	<dict>
		<key>0.0625</key>
		<string>21.39</string>
		<key>0.1250</key>
		<string>28.39</string>
		<key>0.1875</key>
		<string>34.89</string>
		<key>0.2500</key>
		<string>39.89</string>
		<key>0.3125</key>
		<string>44.89</string>
		<key>0.3750</key>
		<string>49.39</string>
		<key>0.4375</key>
		<string>53.89</string>
		<key>0.5000</key>
		<string>57.89</string>
		<key>0.5625</key>
		<string>61.89</string>
		<key>0.6250</key>
		<string>65.89</string>
		<key>0.6875</key>
		<string>69.89</string>
		<key>0.7500</key>
		<string>73.39</string>
		<key>0.8125</key>
		<string>76.89</string>
		<key>0.8750</key>
		<string>80.39</string>
		<key>0.9375</key>
		<string>83.89</string>
		<key>1.0000</key>
		<string>86.89</string>
	</dict>
	<key>630</key>
	<dict>
		<key>0.0625</key>
		<string>20.02</string>
		<key>0.1250</key>
		<string>27.02</string>
		<key>0.1875</key>
		<string>33.52</string>
		<key>0.2500</key>
		<string>38.52</string>
		<key>0.3125</key>
		<string>43.52</string>
		<key>0.3750</key>
		<string>48.03</string>
		<key>0.4375</key>
		<string>52.52</string>
		<key>0.5000</key>
		<string>56.52</string>
		<key>0.5625</key>
		<string>60.52</string>
		<key>0.6250</key>
		<string>64.53</string>
		<key>0.6875</key>
		<string>68.52</string>
		<key>0.7500</key>
		<string>72.02</string>
		<key>0.8125</key>
		<string>75.52</string>
		<key>0.8750</key>
		<string>79.02</string>
		<key>0.9375</key>
		<string>82.52</string>
		<key>1.0000</key>
		<string>85.52</string>
	</dict>
	<key>6300</key>
	<dict>
		<key>0.0625</key>
		<string>24.51</string>
		<key>0.1250</key>
		<string>31.51</string>
		<key>0.1875</key>
		<string>38.01</string>
		<key>0.2500</key>
		<string>43.01</string>
		<key>0.3125</key>
		<string>48.01</string>
		<key>0.3750</key>
		<string>52.51</string>
		<key>0.4375</key>
		<string>57.02</string>
		<key>0.5000</key>
		<string>61.01</string>
		<key>0.5625</key>
		<string>65.01</string>
		<key>0.6250</key>
		<string>69.01</string>
		<key>0.6875</key>
		<string>73.01</string>
		<key>0.7500</key>
		<string>76.51</string>
		<key>0.8125</key>
		<string>80.01</string>
		<key>0.8750</key>
		<string>83.51</string>
		<key>0.9375</key>
		<string>87.01</string>
		<key>1.0000</key>
		<string>90.01</string>
	</dict>
	<key>707</key>
	<dict>
		<key>0.0625</key>
		<string>19.31</string>
		<key>0.1250</key>
		<string>26.31</string>
		<key>0.1875</key>
		<string>32.81</string>
		<key>0.2500</key>
		<string>37.81</string>
		<key>0.3125</key>
		<string>42.81</string>
		<key>0.3750</key>
		<string>47.31</string>
		<key>0.4375</key>
		<string>51.81</string>
		<key>0.5000</key>
		<string>55.81</string>
		<key>0.5625</key>
		<string>59.81</string>
		<key>0.6250</key>
		<string>63.81</string>
		<key>0.6875</key>
		<string>67.81</string>
		<key>0.7500</key>
		<string>71.31</string>
		<key>0.8125</key>
		<string>74.81</string>
		<key>0.8750</key>
		<string>78.31</string>
		<key>0.9375</key>
		<string>81.81</string>
		<key>1.0000</key>
		<string>84.81</string>
	</dict>
	<key>7072</key>
	<dict>
		<key>0.0625</key>
		<string>27.61</string>
		<key>0.1250</key>
		<string>34.61</string>
		<key>0.1875</key>
		<string>41.11</string>
		<key>0.2500</key>
		<string>46.11</string>
		<key>0.3125</key>
		<string>51.11</string>
		<key>0.3750</key>
		<string>55.61</string>
		<key>0.4375</key>
		<string>60.12</string>
		<key>0.5000</key>
		<string>64.11</string>
		<key>0.5625</key>
		<string>68.11</string>
		<key>0.6250</key>
		<string>72.11</string>
		<key>0.6875</key>
		<string>76.12</string>
		<key>0.7500</key>
		<string>79.62</string>
		<key>0.8125</key>
		<string>83.12</string>
		<key>0.8750</key>
		<string>86.62</string>
		<key>0.9375</key>
		<string>90.12</string>
		<key>1.0000</key>
		<string>93.12</string>
	</dict>
	<key>800</key>
	<dict>
		<key>0.0625</key>
		<string>18.75</string>
		<key>0.1250</key>
		<string>25.75</string>
		<key>0.1875</key>
		<string>32.25</string>
		<key>0.2500</key>
		<string>37.25</string>
		<key>0.3125</key>
		<string>42.25</string>
		<key>0.3750</key>
		<string>46.75</string>
		<key>0.4375</key>
		<string>51.25</string>
		<key>0.5000</key>
		<string>55.25</string>
		<key>0.5625</key>
		<string>59.25</string>
		<key>0.6250</key>
		<string>63.24</string>
		<key>0.6875</key>
		<string>67.25</string>
		<key>0.7500</key>
		<string>70.74</string>
		<key>0.8125</key>
		<string>74.24</string>
		<key>0.8750</key>
		<string>77.74</string>
		<key>0.9375</key>
		<string>81.24</string>
		<key>1.0000</key>
		<string>84.24</string>
	</dict>
	<key>8000</key>
	<dict>
		<key>0.0625</key>
		<string>30.48</string>
		<key>0.1250</key>
		<string>37.48</string>
		<key>0.1875</key>
		<string>43.98</string>
		<key>0.2500</key>
		<string>48.98</string>
		<key>0.3125</key>
		<string>53.98</string>
		<key>0.3750</key>
		<string>58.48</string>
		<key>0.4375</key>
		<string>62.98</string>
		<key>0.5000</key>
		<string>66.98</string>
		<key>0.5625</key>
		<string>70.98</string>
		<key>0.6250</key>
		<string>74.98</string>
		<key>0.6875</key>
		<string>78.98</string>
		<key>0.7500</key>
		<string>82.48</string>
		<key>0.8125</key>
		<string>85.98</string>
		<key>0.8750</key>
		<string>89.48</string>
		<key>0.9375</key>
		<string>92.98</string>
		<key>1.0000</key>
		<string>95.98</string>
	</dict>
	<key>898</key>
	<dict>
		<key>0.0625</key>
		<string>18.50</string>
		<key>0.1250</key>
		<string>25.50</string>
		<key>0.1875</key>
		<string>32.00</string>
		<key>0.2500</key>
		<string>37.00</string>
		<key>0.3125</key>
		<string>42.00</string>
		<key>0.3750</key>
		<string>46.51</string>
		<key>0.4375</key>
		<string>51.00</string>
		<key>0.5000</key>
		<string>55.00</string>
		<key>0.5625</key>
		<string>59.01</string>
		<key>0.6250</key>
		<string>63.00</string>
		<key>0.6875</key>
		<string>67.01</string>
		<key>0.7500</key>
		<string>70.50</string>
		<key>0.8125</key>
		<string>74.00</string>
		<key>0.8750</key>
		<string>77.50</string>
		<key>0.9375</key>
		<string>81.00</string>
		<key>1.0000</key>
		<string>84.00</string>
	</dict>
	<key>8980</key>
	<dict>
		<key>0.0625</key>
		<string>32.30</string>
		<key>0.1250</key>
		<string>39.30</string>
		<key>0.1875</key>
		<string>45.80</string>
		<key>0.2500</key>
		<string>50.80</string>
		<key>0.3125</key>
		<string>55.80</string>
		<key>0.3750</key>
		<string>60.30</string>
		<key>0.4375</key>
		<string>64.80</string>
		<key>0.5000</key>
		<string>68.81</string>
		<key>0.5625</key>
		<string>72.80</string>
		<key>0.6250</key>
		<string>76.80</string>
		<key>0.6875</key>
		<string>80.81</string>
		<key>0.7500</key>
		<string>84.30</string>
		<key>0.8125</key>
		<string>87.80</string>
		<key>0.8750</key>
		<string>91.30</string>
		<key>0.9375</key>
		<string>94.80</string>
		<key>1.0000</key>
		<string>97.80</string>
	</dict>
</dict>
</plist>
