<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1000</key>
	<dict>
		<key>0.0625</key>
		<string>18.7</string>
		<key>0.1250</key>
		<string>25.7</string>
		<key>0.1875</key>
		<string>32.2</string>
		<key>0.2500</key>
		<string>37.2</string>
		<key>0.3125</key>
		<string>42.2</string>
		<key>0.3750</key>
		<string>46.7</string>
		<key>0.4375</key>
		<string>51.2</string>
		<key>0.5000</key>
		<string>55.2</string>
		<key>0.5625</key>
		<string>59.2</string>
		<key>0.6250</key>
		<string>63.2</string>
		<key>0.6875</key>
		<string>67.2</string>
		<key>0.7500</key>
		<string>70.7</string>
		<key>0.8125</key>
		<string>74.2</string>
		<key>0.8750</key>
		<string>77.7</string>
		<key>0.9375</key>
		<string>81.2</string>
		<key>1.0000</key>
		<string>84.2</string>
	</dict>
	<key>10000</key>
	<dict>
		<key>0.0625</key>
		<string>32.97</string>
		<key>0.1250</key>
		<string>39.97</string>
		<key>0.1875</key>
		<string>46.47</string>
		<key>0.2500</key>
		<string>51.47</string>
		<key>0.3125</key>
		<string>56.47</string>
		<key>0.3750</key>
		<string>60.97</string>
		<key>0.4375</key>
		<string>65.47</string>
		<key>0.5000</key>
		<string>69.47</string>
		<key>0.5625</key>
		<string>73.47</string>
		<key>0.6250</key>
		<string>77.47</string>
		<key>0.6875</key>
		<string>81.47</string>
		<key>0.7500</key>
		<string>84.97</string>
		<key>0.8125</key>
		<string>88.47</string>
		<key>0.8750</key>
		<string>91.97</string>
		<key>0.9375</key>
		<string>95.47</string>
		<key>1.0000</key>
		<string>98.47</string>
	</dict>
	<key>1122</key>
	<dict>
		<key>0.0625</key>
		<string>19.49</string>
		<key>0.1250</key>
		<string>26.49</string>
		<key>0.1875</key>
		<string>32.99</string>
		<key>0.2500</key>
		<string>37.99</string>
		<key>0.3125</key>
		<string>42.99</string>
		<key>0.3750</key>
		<string>47.49</string>
		<key>0.4375</key>
		<string>51.99</string>
		<key>0.5000</key>
		<string>55.99</string>
		<key>0.5625</key>
		<string>59.99</string>
		<key>0.6250</key>
		<string>63.99</string>
		<key>0.6875</key>
		<string>67.99</string>
		<key>0.7500</key>
		<string>71.49</string>
		<key>0.8125</key>
		<string>74.99</string>
		<key>0.8750</key>
		<string>78.49</string>
		<key>0.9375</key>
		<string>81.99</string>
		<key>1.0000</key>
		<string>84.99</string>
	</dict>
	<key>11224</key>
	<dict>
		<key>0.0625</key>
		<string>32.32</string>
		<key>0.1250</key>
		<string>39.32</string>
		<key>0.1875</key>
		<string>45.82</string>
		<key>0.2500</key>
		<string>50.82</string>
		<key>0.3125</key>
		<string>55.82</string>
		<key>0.3750</key>
		<string>60.32</string>
		<key>0.4375</key>
		<string>64.82</string>
		<key>0.5000</key>
		<string>68.82</string>
		<key>0.5625</key>
		<string>72.82</string>
		<key>0.6250</key>
		<string>76.82</string>
		<key>0.6875</key>
		<string>80.82</string>
		<key>0.7500</key>
		<string>84.32</string>
		<key>0.8125</key>
		<string>87.82</string>
		<key>0.8750</key>
		<string>91.32</string>
		<key>0.9375</key>
		<string>94.82</string>
		<key>1.0000</key>
		<string>97.82</string>
	</dict>
	<key>1250</key>
	<dict>
		<key>0.0625</key>
		<string>20.51</string>
		<key>0.1250</key>
		<string>27.51</string>
		<key>0.1875</key>
		<string>34.01</string>
		<key>0.2500</key>
		<string>39.01</string>
		<key>0.3125</key>
		<string>44.01</string>
		<key>0.3750</key>
		<string>48.51</string>
		<key>0.4375</key>
		<string>53.01</string>
		<key>0.5000</key>
		<string>57.01</string>
		<key>0.5625</key>
		<string>61.01</string>
		<key>0.6250</key>
		<string>65.01</string>
		<key>0.6875</key>
		<string>69.01</string>
		<key>0.7500</key>
		<string>72.51</string>
		<key>0.8125</key>
		<string>76.01</string>
		<key>0.8750</key>
		<string>79.51</string>
		<key>0.9375</key>
		<string>83.01</string>
		<key>1.0000</key>
		<string>86.01</string>
	</dict>
	<key>12500</key>
	<dict>
		<key>0.0625</key>
		<string>30.18</string>
		<key>0.1250</key>
		<string>37.18</string>
		<key>0.1875</key>
		<string>43.68</string>
		<key>0.2500</key>
		<string>48.68</string>
		<key>0.3125</key>
		<string>53.68</string>
		<key>0.3750</key>
		<string>58.18</string>
		<key>0.4375</key>
		<string>62.68</string>
		<key>0.5000</key>
		<string>66.68</string>
		<key>0.5625</key>
		<string>70.68</string>
		<key>0.6250</key>
		<string>74.68</string>
		<key>0.6875</key>
		<string>78.68</string>
		<key>0.7500</key>
		<string>82.18</string>
		<key>0.8125</key>
		<string>85.68</string>
		<key>0.8750</key>
		<string>89.18</string>
		<key>0.9375</key>
		<string>92.68</string>
		<key>1.0000</key>
		<string>95.68</string>
	</dict>
	<key>1403</key>
	<dict>
		<key>0.0625</key>
		<string>21.28</string>
		<key>0.1250</key>
		<string>28.28</string>
		<key>0.1875</key>
		<string>34.78</string>
		<key>0.2500</key>
		<string>39.78</string>
		<key>0.3125</key>
		<string>44.78</string>
		<key>0.3750</key>
		<string>49.28</string>
		<key>0.4375</key>
		<string>53.78</string>
		<key>0.5000</key>
		<string>57.78</string>
		<key>0.5625</key>
		<string>61.78</string>
		<key>0.6250</key>
		<string>65.78</string>
		<key>0.6875</key>
		<string>69.78</string>
		<key>0.7500</key>
		<string>73.28</string>
		<key>0.8125</key>
		<string>76.78</string>
		<key>0.8750</key>
		<string>80.28</string>
		<key>0.9375</key>
		<string>83.78</string>
		<key>1.0000</key>
		<string>86.78</string>
	</dict>
	<key>1600</key>
	<dict>
		<key>0.0625</key>
		<string>21.19</string>
		<key>0.1250</key>
		<string>28.19</string>
		<key>0.1875</key>
		<string>34.69</string>
		<key>0.2500</key>
		<string>39.69</string>
		<key>0.3125</key>
		<string>44.69</string>
		<key>0.3750</key>
		<string>49.19</string>
		<key>0.4375</key>
		<string>53.69</string>
		<key>0.5000</key>
		<string>57.69</string>
		<key>0.5625</key>
		<string>61.69</string>
		<key>0.6250</key>
		<string>65.69</string>
		<key>0.6875</key>
		<string>69.69</string>
		<key>0.7500</key>
		<string>73.19</string>
		<key>0.8125</key>
		<string>76.69</string>
		<key>0.8750</key>
		<string>80.19</string>
		<key>0.9375</key>
		<string>83.69</string>
		<key>1.0000</key>
		<string>86.69</string>
	</dict>
	<key>1796</key>
	<dict>
		<key>0.0625</key>
		<string>19.83</string>
		<key>0.1250</key>
		<string>26.83</string>
		<key>0.1875</key>
		<string>33.33</string>
		<key>0.2500</key>
		<string>38.33</string>
		<key>0.3125</key>
		<string>43.33</string>
		<key>0.3750</key>
		<string>47.83</string>
		<key>0.4375</key>
		<string>52.33</string>
		<key>0.5000</key>
		<string>56.33</string>
		<key>0.5625</key>
		<string>60.33</string>
		<key>0.6250</key>
		<string>64.33</string>
		<key>0.6875</key>
		<string>68.33</string>
		<key>0.7500</key>
		<string>71.83</string>
		<key>0.8125</key>
		<string>75.33</string>
		<key>0.8750</key>
		<string>78.83</string>
		<key>0.9375</key>
		<string>82.33</string>
		<key>1.0000</key>
		<string>85.33</string>
	</dict>
	<key>2000</key>
	<dict>
		<key>0.0625</key>
		<string>17.92</string>
		<key>0.1250</key>
		<string>24.92</string>
		<key>0.1875</key>
		<string>31.42</string>
		<key>0.2500</key>
		<string>36.42</string>
		<key>0.3125</key>
		<string>41.42</string>
		<key>0.3750</key>
		<string>45.92</string>
		<key>0.4375</key>
		<string>50.42</string>
		<key>0.5000</key>
		<string>54.42</string>
		<key>0.5625</key>
		<string>58.42</string>
		<key>0.6250</key>
		<string>62.42</string>
		<key>0.6875</key>
		<string>66.42</string>
		<key>0.7500</key>
		<string>69.92</string>
		<key>0.8125</key>
		<string>73.42</string>
		<key>0.8750</key>
		<string>76.92</string>
		<key>0.9375</key>
		<string>80.42</string>
		<key>1.0000</key>
		<string>83.42</string>
	</dict>
	<key>2245</key>
	<dict>
		<key>0.0625</key>
		<string>16.24</string>
		<key>0.1250</key>
		<string>23.24</string>
		<key>0.1875</key>
		<string>29.74</string>
		<key>0.2500</key>
		<string>34.74</string>
		<key>0.3125</key>
		<string>39.74</string>
		<key>0.3750</key>
		<string>44.24</string>
		<key>0.4375</key>
		<string>48.74</string>
		<key>0.5000</key>
		<string>52.74</string>
		<key>0.5625</key>
		<string>56.74</string>
		<key>0.6250</key>
		<string>60.74</string>
		<key>0.6875</key>
		<string>64.74</string>
		<key>0.7500</key>
		<string>68.24</string>
		<key>0.8125</key>
		<string>71.74</string>
		<key>0.8750</key>
		<string>75.24</string>
		<key>0.9375</key>
		<string>78.74</string>
		<key>1.0000</key>
		<string>81.74</string>
	</dict>
	<key>2500</key>
	<dict>
		<key>0.0625</key>
		<string>15.2</string>
		<key>0.1250</key>
		<string>22.2</string>
		<key>0.1875</key>
		<string>28.7</string>
		<key>0.2500</key>
		<string>33.7</string>
		<key>0.3125</key>
		<string>38.7</string>
		<key>0.3750</key>
		<string>43.2</string>
		<key>0.4375</key>
		<string>47.7</string>
		<key>0.5000</key>
		<string>51.7</string>
		<key>0.5625</key>
		<string>55.7</string>
		<key>0.6250</key>
		<string>59.7</string>
		<key>0.6875</key>
		<string>63.7</string>
		<key>0.7500</key>
		<string>67.2</string>
		<key>0.8125</key>
		<string>70.7</string>
		<key>0.8750</key>
		<string>74.2</string>
		<key>0.9375</key>
		<string>77.7</string>
		<key>1.0000</key>
		<string>80.7</string>
	</dict>
	<key>2806</key>
	<dict>
		<key>0.0625</key>
		<string>14.53</string>
		<key>0.1250</key>
		<string>21.53</string>
		<key>0.1875</key>
		<string>28.03</string>
		<key>0.2500</key>
		<string>33.03</string>
		<key>0.3125</key>
		<string>38.03</string>
		<key>0.3750</key>
		<string>42.53</string>
		<key>0.4375</key>
		<string>47.03</string>
		<key>0.5000</key>
		<string>51.03</string>
		<key>0.5625</key>
		<string>55.03</string>
		<key>0.6250</key>
		<string>59.03</string>
		<key>0.6875</key>
		<string>63.03</string>
		<key>0.7500</key>
		<string>66.53</string>
		<key>0.8125</key>
		<string>70.03</string>
		<key>0.8750</key>
		<string>73.53</string>
		<key>0.9375</key>
		<string>77.03</string>
		<key>1.0000</key>
		<string>80.03</string>
	</dict>
	<key>315</key>
	<dict>
		<key>0.0625</key>
		<string>26.27</string>
		<key>0.1250</key>
		<string>33.27</string>
		<key>0.1875</key>
		<string>39.77</string>
		<key>0.2500</key>
		<string>44.77</string>
		<key>0.3125</key>
		<string>49.77</string>
		<key>0.3750</key>
		<string>54.27</string>
		<key>0.4375</key>
		<string>58.77</string>
		<key>0.5000</key>
		<string>62.77</string>
		<key>0.5625</key>
		<string>66.77</string>
		<key>0.6250</key>
		<string>70.77</string>
		<key>0.6875</key>
		<string>74.77</string>
		<key>0.7500</key>
		<string>78.27</string>
		<key>0.8125</key>
		<string>81.77</string>
		<key>0.8750</key>
		<string>85.27</string>
		<key>0.9375</key>
		<string>88.77</string>
		<key>1.0000</key>
		<string>91.77</string>
	</dict>
	<key>3150</key>
	<dict>
		<key>0.0625</key>
		<string>14.3</string>
		<key>0.1250</key>
		<string>21.3</string>
		<key>0.1875</key>
		<string>27.8</string>
		<key>0.2500</key>
		<string>32.8</string>
		<key>0.3125</key>
		<string>37.8</string>
		<key>0.3750</key>
		<string>42.3</string>
		<key>0.4375</key>
		<string>46.8</string>
		<key>0.5000</key>
		<string>50.8</string>
		<key>0.5625</key>
		<string>54.8</string>
		<key>0.6250</key>
		<string>58.8</string>
		<key>0.6875</key>
		<string>62.8</string>
		<key>0.7500</key>
		<string>66.3</string>
		<key>0.8125</key>
		<string>69.8</string>
		<key>0.8750</key>
		<string>73.3</string>
		<key>0.9375</key>
		<string>76.8</string>
		<key>1.0000</key>
		<string>79.8</string>
	</dict>
	<key>3536</key>
	<dict>
		<key>0.0625</key>
		<string>14.52</string>
		<key>0.1250</key>
		<string>21.52</string>
		<key>0.1875</key>
		<string>28.02</string>
		<key>0.2500</key>
		<string>33.02</string>
		<key>0.3125</key>
		<string>38.02</string>
		<key>0.3750</key>
		<string>42.52</string>
		<key>0.4375</key>
		<string>47.02</string>
		<key>0.5000</key>
		<string>51.02</string>
		<key>0.5625</key>
		<string>55.02</string>
		<key>0.6250</key>
		<string>59.02</string>
		<key>0.6875</key>
		<string>63.02</string>
		<key>0.7500</key>
		<string>66.52</string>
		<key>0.8125</key>
		<string>70.02</string>
		<key>0.8750</key>
		<string>73.52</string>
		<key>0.9375</key>
		<string>77.02</string>
		<key>1.0000</key>
		<string>80.02</string>
	</dict>
	<key>354</key>
	<dict>
		<key>0.0625</key>
		<string>24.94</string>
		<key>0.1250</key>
		<string>31.94</string>
		<key>0.1875</key>
		<string>38.44</string>
		<key>0.2500</key>
		<string>43.44</string>
		<key>0.3125</key>
		<string>48.44</string>
		<key>0.3750</key>
		<string>52.94</string>
		<key>0.4375</key>
		<string>57.44</string>
		<key>0.5000</key>
		<string>61.44</string>
		<key>0.5625</key>
		<string>65.44</string>
		<key>0.6250</key>
		<string>69.44</string>
		<key>0.6875</key>
		<string>73.44</string>
		<key>0.7500</key>
		<string>76.94</string>
		<key>0.8125</key>
		<string>80.44</string>
		<key>0.8750</key>
		<string>83.94</string>
		<key>0.9375</key>
		<string>87.44</string>
		<key>1.0000</key>
		<string>90.44</string>
	</dict>
	<key>400</key>
	<dict>
		<key>0.0625</key>
		<string>23.66</string>
		<key>0.1250</key>
		<string>30.66</string>
		<key>0.1875</key>
		<string>37.16</string>
		<key>0.2500</key>
		<string>42.16</string>
		<key>0.3125</key>
		<string>47.16</string>
		<key>0.3750</key>
		<string>51.66</string>
		<key>0.4375</key>
		<string>56.16</string>
		<key>0.5000</key>
		<string>60.16</string>
		<key>0.5625</key>
		<string>64.16</string>
		<key>0.6250</key>
		<string>68.16</string>
		<key>0.6875</key>
		<string>72.16</string>
		<key>0.7500</key>
		<string>75.66</string>
		<key>0.8125</key>
		<string>79.16</string>
		<key>0.8750</key>
		<string>82.66</string>
		<key>0.9375</key>
		<string>86.16</string>
		<key>1.0000</key>
		<string>89.16</string>
	</dict>
	<key>4000</key>
	<dict>
		<key>0.0625</key>
		<string>15.34</string>
		<key>0.1250</key>
		<string>22.34</string>
		<key>0.1875</key>
		<string>28.84</string>
		<key>0.2500</key>
		<string>33.84</string>
		<key>0.3125</key>
		<string>38.84</string>
		<key>0.3750</key>
		<string>43.34</string>
		<key>0.4375</key>
		<string>47.84</string>
		<key>0.5000</key>
		<string>51.84</string>
		<key>0.5625</key>
		<string>55.84</string>
		<key>0.6250</key>
		<string>59.84</string>
		<key>0.6875</key>
		<string>63.84</string>
		<key>0.7500</key>
		<string>67.34</string>
		<key>0.8125</key>
		<string>70.84</string>
		<key>0.8750</key>
		<string>74.34</string>
		<key>0.9375</key>
		<string>77.84</string>
		<key>1.0000</key>
		<string>80.84</string>
	</dict>
	<key>449</key>
	<dict>
		<key>0.0625</key>
		<string>22.61</string>
		<key>0.1250</key>
		<string>29.61</string>
		<key>0.1875</key>
		<string>36.11</string>
		<key>0.2500</key>
		<string>41.11</string>
		<key>0.3125</key>
		<string>46.11</string>
		<key>0.3750</key>
		<string>50.61</string>
		<key>0.4375</key>
		<string>55.11</string>
		<key>0.5000</key>
		<string>59.11</string>
		<key>0.5625</key>
		<string>63.11</string>
		<key>0.6250</key>
		<string>67.11</string>
		<key>0.6875</key>
		<string>71.11</string>
		<key>0.7500</key>
		<string>74.61</string>
		<key>0.8125</key>
		<string>78.11</string>
		<key>0.8750</key>
		<string>81.61</string>
		<key>0.9375</key>
		<string>85.11</string>
		<key>1.0000</key>
		<string>88.11</string>
	</dict>
	<key>4490</key>
	<dict>
		<key>0.0625</key>
		<string>16.76</string>
		<key>0.1250</key>
		<string>23.76</string>
		<key>0.1875</key>
		<string>30.26</string>
		<key>0.2500</key>
		<string>35.26</string>
		<key>0.3125</key>
		<string>40.26</string>
		<key>0.3750</key>
		<string>44.76</string>
		<key>0.4375</key>
		<string>49.26</string>
		<key>0.5000</key>
		<string>53.26</string>
		<key>0.5625</key>
		<string>57.26</string>
		<key>0.6250</key>
		<string>61.26</string>
		<key>0.6875</key>
		<string>65.26</string>
		<key>0.7500</key>
		<string>68.76</string>
		<key>0.8125</key>
		<string>72.26</string>
		<key>0.8750</key>
		<string>75.76</string>
		<key>0.9375</key>
		<string>79.26</string>
		<key>1.0000</key>
		<string>82.26</string>
	</dict>
	<key>500</key>
	<dict>
		<key>0.0625</key>
		<string>21.74</string>
		<key>0.1250</key>
		<string>28.74</string>
		<key>0.1875</key>
		<string>35.24</string>
		<key>0.2500</key>
		<string>40.24</string>
		<key>0.3125</key>
		<string>45.24</string>
		<key>0.3750</key>
		<string>49.74</string>
		<key>0.4375</key>
		<string>54.24</string>
		<key>0.5000</key>
		<string>58.24</string>
		<key>0.5625</key>
		<string>62.24</string>
		<key>0.6250</key>
		<string>66.24</string>
		<key>0.6875</key>
		<string>70.24</string>
		<key>0.7500</key>
		<string>73.74</string>
		<key>0.8125</key>
		<string>77.24</string>
		<key>0.8750</key>
		<string>80.74</string>
		<key>0.9375</key>
		<string>84.24</string>
		<key>1.0000</key>
		<string>87.24</string>
	</dict>
	<key>5000</key>
	<dict>
		<key>0.0625</key>
		<string>18.7</string>
		<key>0.1250</key>
		<string>25.7</string>
		<key>0.1875</key>
		<string>32.2</string>
		<key>0.2500</key>
		<string>37.2</string>
		<key>0.3125</key>
		<string>42.2</string>
		<key>0.3750</key>
		<string>46.7</string>
		<key>0.4375</key>
		<string>51.2</string>
		<key>0.5000</key>
		<string>55.2</string>
		<key>0.5625</key>
		<string>59.2</string>
		<key>0.6250</key>
		<string>63.2</string>
		<key>0.6875</key>
		<string>67.2</string>
		<key>0.7500</key>
		<string>70.7</string>
		<key>0.8125</key>
		<string>74.2</string>
		<key>0.8750</key>
		<string>77.7</string>
		<key>0.9375</key>
		<string>81.2</string>
		<key>1.0000</key>
		<string>84.2</string>
	</dict>
	<key>561</key>
	<dict>
		<key>0.0625</key>
		<string>20.86</string>
		<key>0.1250</key>
		<string>27.86</string>
		<key>0.1875</key>
		<string>34.36</string>
		<key>0.2500</key>
		<string>39.36</string>
		<key>0.3125</key>
		<string>44.36</string>
		<key>0.3750</key>
		<string>48.86</string>
		<key>0.4375</key>
		<string>53.36</string>
		<key>0.5000</key>
		<string>57.36</string>
		<key>0.5625</key>
		<string>61.36</string>
		<key>0.6250</key>
		<string>65.36</string>
		<key>0.6875</key>
		<string>69.36</string>
		<key>0.7500</key>
		<string>72.86</string>
		<key>0.8125</key>
		<string>76.36</string>
		<key>0.8750</key>
		<string>79.86</string>
		<key>0.9375</key>
		<string>83.36</string>
		<key>1.0000</key>
		<string>86.36</string>
	</dict>
	<key>5612</key>
	<dict>
		<key>0.0625</key>
		<string>21.4</string>
		<key>0.1250</key>
		<string>28.4</string>
		<key>0.1875</key>
		<string>34.9</string>
		<key>0.2500</key>
		<string>39.9</string>
		<key>0.3125</key>
		<string>44.9</string>
		<key>0.3750</key>
		<string>49.4</string>
		<key>0.4375</key>
		<string>53.9</string>
		<key>0.5000</key>
		<string>57.9</string>
		<key>0.5625</key>
		<string>61.9</string>
		<key>0.6250</key>
		<string>65.9</string>
		<key>0.6875</key>
		<string>69.9</string>
		<key>0.7500</key>
		<string>73.4</string>
		<key>0.8125</key>
		<string>76.9</string>
		<key>0.8750</key>
		<string>80.4</string>
		<key>0.9375</key>
		<string>83.9</string>
		<key>1.0000</key>
		<string>86.9</string>
	</dict>
	<key>630</key>
	<dict>
		<key>0.0625</key>
		<string>20.03</string>
		<key>0.1250</key>
		<string>27.03</string>
		<key>0.1875</key>
		<string>33.53</string>
		<key>0.2500</key>
		<string>38.53</string>
		<key>0.3125</key>
		<string>43.53</string>
		<key>0.3750</key>
		<string>48.03</string>
		<key>0.4375</key>
		<string>52.53</string>
		<key>0.5000</key>
		<string>56.53</string>
		<key>0.5625</key>
		<string>60.53</string>
		<key>0.6250</key>
		<string>64.53</string>
		<key>0.6875</key>
		<string>68.53</string>
		<key>0.7500</key>
		<string>72.03</string>
		<key>0.8125</key>
		<string>75.53</string>
		<key>0.8750</key>
		<string>79.03</string>
		<key>0.9375</key>
		<string>82.53</string>
		<key>1.0000</key>
		<string>85.53</string>
	</dict>
	<key>6300</key>
	<dict>
		<key>0.0625</key>
		<string>24.52</string>
		<key>0.1250</key>
		<string>31.52</string>
		<key>0.1875</key>
		<string>38.02</string>
		<key>0.2500</key>
		<string>43.02</string>
		<key>0.3125</key>
		<string>48.02</string>
		<key>0.3750</key>
		<string>52.52</string>
		<key>0.4375</key>
		<string>57.02</string>
		<key>0.5000</key>
		<string>61.02</string>
		<key>0.5625</key>
		<string>65.02</string>
		<key>0.6250</key>
		<string>69.02</string>
		<key>0.6875</key>
		<string>73.02</string>
		<key>0.7500</key>
		<string>76.52</string>
		<key>0.8125</key>
		<string>80.02</string>
		<key>0.8750</key>
		<string>83.52</string>
		<key>0.9375</key>
		<string>87.02</string>
		<key>1.0000</key>
		<string>90.02</string>
	</dict>
	<key>707</key>
	<dict>
		<key>0.0625</key>
		<string>19.32</string>
		<key>0.1250</key>
		<string>26.32</string>
		<key>0.1875</key>
		<string>32.82</string>
		<key>0.2500</key>
		<string>37.82</string>
		<key>0.3125</key>
		<string>42.82</string>
		<key>0.3750</key>
		<string>47.32</string>
		<key>0.4375</key>
		<string>51.82</string>
		<key>0.5000</key>
		<string>55.82</string>
		<key>0.5625</key>
		<string>59.82</string>
		<key>0.6250</key>
		<string>63.82</string>
		<key>0.6875</key>
		<string>67.82</string>
		<key>0.7500</key>
		<string>71.32</string>
		<key>0.8125</key>
		<string>74.82</string>
		<key>0.8750</key>
		<string>78.32</string>
		<key>0.9375</key>
		<string>81.82</string>
		<key>1.0000</key>
		<string>84.82</string>
	</dict>
	<key>7072</key>
	<dict>
		<key>0.0625</key>
		<string>27.62</string>
		<key>0.1250</key>
		<string>34.62</string>
		<key>0.1875</key>
		<string>41.12</string>
		<key>0.2500</key>
		<string>46.12</string>
		<key>0.3125</key>
		<string>51.12</string>
		<key>0.3750</key>
		<string>55.62</string>
		<key>0.4375</key>
		<string>60.12</string>
		<key>0.5000</key>
		<string>64.12</string>
		<key>0.5625</key>
		<string>68.12</string>
		<key>0.6250</key>
		<string>72.12</string>
		<key>0.6875</key>
		<string>76.12</string>
		<key>0.7500</key>
		<string>79.62</string>
		<key>0.8125</key>
		<string>83.12</string>
		<key>0.8750</key>
		<string>86.62</string>
		<key>0.9375</key>
		<string>90.12</string>
		<key>1.0000</key>
		<string>93.12</string>
	</dict>
	<key>800</key>
	<dict>
		<key>0.0625</key>
		<string>18.75</string>
		<key>0.1250</key>
		<string>25.75</string>
		<key>0.1875</key>
		<string>32.25</string>
		<key>0.2500</key>
		<string>37.25</string>
		<key>0.3125</key>
		<string>42.25</string>
		<key>0.3750</key>
		<string>46.75</string>
		<key>0.4375</key>
		<string>51.25</string>
		<key>0.5000</key>
		<string>55.25</string>
		<key>0.5625</key>
		<string>59.25</string>
		<key>0.6250</key>
		<string>63.25</string>
		<key>0.6875</key>
		<string>67.25</string>
		<key>0.7500</key>
		<string>70.75</string>
		<key>0.8125</key>
		<string>74.25</string>
		<key>0.8750</key>
		<string>77.75</string>
		<key>0.9375</key>
		<string>81.25</string>
		<key>1.0000</key>
		<string>84.25</string>
	</dict>
	<key>8000</key>
	<dict>
		<key>0.0625</key>
		<string>30.49</string>
		<key>0.1250</key>
		<string>37.49</string>
		<key>0.1875</key>
		<string>43.99</string>
		<key>0.2500</key>
		<string>48.99</string>
		<key>0.3125</key>
		<string>53.99</string>
		<key>0.3750</key>
		<string>58.49</string>
		<key>0.4375</key>
		<string>62.99</string>
		<key>0.5000</key>
		<string>66.99</string>
		<key>0.5625</key>
		<string>70.99</string>
		<key>0.6250</key>
		<string>74.99</string>
		<key>0.6875</key>
		<string>78.99</string>
		<key>0.7500</key>
		<string>82.49</string>
		<key>0.8125</key>
		<string>85.99</string>
		<key>0.8750</key>
		<string>89.49</string>
		<key>0.9375</key>
		<string>92.99</string>
		<key>1.0000</key>
		<string>95.99</string>
	</dict>
	<key>898</key>
	<dict>
		<key>0.0625</key>
		<string>18.52</string>
		<key>0.1250</key>
		<string>25.52</string>
		<key>0.1875</key>
		<string>32.02</string>
		<key>0.2500</key>
		<string>37.02</string>
		<key>0.3125</key>
		<string>42.02</string>
		<key>0.3750</key>
		<string>46.52</string>
		<key>0.4375</key>
		<string>51.02</string>
		<key>0.5000</key>
		<string>55.02</string>
		<key>0.5625</key>
		<string>59.02</string>
		<key>0.6250</key>
		<string>63.02</string>
		<key>0.6875</key>
		<string>67.02</string>
		<key>0.7500</key>
		<string>70.52</string>
		<key>0.8125</key>
		<string>74.02</string>
		<key>0.8750</key>
		<string>77.52</string>
		<key>0.9375</key>
		<string>81.02</string>
		<key>1.0000</key>
		<string>84.02</string>
	</dict>
	<key>8980</key>
	<dict>
		<key>0.0625</key>
		<string>32.31</string>
		<key>0.1250</key>
		<string>39.31</string>
		<key>0.1875</key>
		<string>45.81</string>
		<key>0.2500</key>
		<string>50.81</string>
		<key>0.3125</key>
		<string>55.81</string>
		<key>0.3750</key>
		<string>60.31</string>
		<key>0.4375</key>
		<string>64.81</string>
		<key>0.5000</key>
		<string>68.81</string>
		<key>0.5625</key>
		<string>72.81</string>
		<key>0.6250</key>
		<string>76.81</string>
		<key>0.6875</key>
		<string>80.81</string>
		<key>0.7500</key>
		<string>84.31</string>
		<key>0.8125</key>
		<string>87.81</string>
		<key>0.8750</key>
		<string>91.31</string>
		<key>0.9375</key>
		<string>94.81</string>
		<key>1.0000</key>
		<string>97.81</string>
	</dict>
</dict>
</plist>
