<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1000</key>
	<dict>
		<key>0.0625</key>
		<string>17.3</string>
		<key>0.1250</key>
		<string>24.3</string>
		<key>0.1875</key>
		<string>30.8</string>
		<key>0.2500</key>
		<string>35.8</string>
		<key>0.3125</key>
		<string>40.8</string>
		<key>0.3750</key>
		<string>45.3</string>
		<key>0.4375</key>
		<string>49.8</string>
		<key>0.5000</key>
		<string>53.8</string>
		<key>0.5625</key>
		<string>57.8</string>
		<key>0.6250</key>
		<string>61.8</string>
		<key>0.6875</key>
		<string>65.8</string>
		<key>0.7500</key>
		<string>69.3</string>
		<key>0.8125</key>
		<string>72.8</string>
		<key>0.8750</key>
		<string>76.3</string>
		<key>0.9375</key>
		<string>79.8</string>
		<key>1.0000</key>
		<string>82.8</string>
	</dict>
	<key>10000</key>
	<dict>
		<key>0.0625</key>
		<string>31.57</string>
		<key>0.1250</key>
		<string>38.57</string>
		<key>0.1875</key>
		<string>45.07</string>
		<key>0.2500</key>
		<string>50.07</string>
		<key>0.3125</key>
		<string>55.07</string>
		<key>0.3750</key>
		<string>59.57</string>
		<key>0.4375</key>
		<string>64.07</string>
		<key>0.5000</key>
		<string>68.07</string>
		<key>0.5625</key>
		<string>72.07</string>
		<key>0.6250</key>
		<string>76.07</string>
		<key>0.6875</key>
		<string>80.07</string>
		<key>0.7500</key>
		<string>83.57</string>
		<key>0.8125</key>
		<string>87.07</string>
		<key>0.8750</key>
		<string>90.57</string>
		<key>0.9375</key>
		<string>94.07</string>
		<key>1.0000</key>
		<string>97.07</string>
	</dict>
	<key>1122</key>
	<dict>
		<key>0.0625</key>
		<string>18.09</string>
		<key>0.1250</key>
		<string>25.09</string>
		<key>0.1875</key>
		<string>31.59</string>
		<key>0.2500</key>
		<string>36.59</string>
		<key>0.3125</key>
		<string>41.59</string>
		<key>0.3750</key>
		<string>46.09</string>
		<key>0.4375</key>
		<string>50.59</string>
		<key>0.5000</key>
		<string>54.59</string>
		<key>0.5625</key>
		<string>58.59</string>
		<key>0.6250</key>
		<string>62.59</string>
		<key>0.6875</key>
		<string>66.59</string>
		<key>0.7500</key>
		<string>70.09</string>
		<key>0.8125</key>
		<string>73.59</string>
		<key>0.8750</key>
		<string>77.09</string>
		<key>0.9375</key>
		<string>80.59</string>
		<key>1.0000</key>
		<string>83.59</string>
	</dict>
	<key>11224</key>
	<dict>
		<key>0.0625</key>
		<string>30.92</string>
		<key>0.1250</key>
		<string>37.92</string>
		<key>0.1875</key>
		<string>44.42</string>
		<key>0.2500</key>
		<string>49.42</string>
		<key>0.3125</key>
		<string>54.42</string>
		<key>0.3750</key>
		<string>58.92</string>
		<key>0.4375</key>
		<string>63.42</string>
		<key>0.5000</key>
		<string>67.42</string>
		<key>0.5625</key>
		<string>71.42</string>
		<key>0.6250</key>
		<string>75.42</string>
		<key>0.6875</key>
		<string>79.42</string>
		<key>0.7500</key>
		<string>82.92</string>
		<key>0.8125</key>
		<string>86.42</string>
		<key>0.8750</key>
		<string>89.92</string>
		<key>0.9375</key>
		<string>93.42</string>
		<key>1.0000</key>
		<string>96.42</string>
	</dict>
	<key>1250</key>
	<dict>
		<key>0.0625</key>
		<string>19.11</string>
		<key>0.1250</key>
		<string>26.11</string>
		<key>0.1875</key>
		<string>32.61</string>
		<key>0.2500</key>
		<string>37.61</string>
		<key>0.3125</key>
		<string>42.61</string>
		<key>0.3750</key>
		<string>47.11</string>
		<key>0.4375</key>
		<string>51.61</string>
		<key>0.5000</key>
		<string>55.61</string>
		<key>0.5625</key>
		<string>59.61</string>
		<key>0.6250</key>
		<string>63.61</string>
		<key>0.6875</key>
		<string>67.61</string>
		<key>0.7500</key>
		<string>71.11</string>
		<key>0.8125</key>
		<string>74.61</string>
		<key>0.8750</key>
		<string>78.11</string>
		<key>0.9375</key>
		<string>81.61</string>
		<key>1.0000</key>
		<string>84.61</string>
	</dict>
	<key>12500</key>
	<dict>
		<key>0.0625</key>
		<string>28.78</string>
		<key>0.1250</key>
		<string>35.78</string>
		<key>0.1875</key>
		<string>42.28</string>
		<key>0.2500</key>
		<string>47.28</string>
		<key>0.3125</key>
		<string>52.28</string>
		<key>0.3750</key>
		<string>56.78</string>
		<key>0.4375</key>
		<string>61.28</string>
		<key>0.5000</key>
		<string>65.28</string>
		<key>0.5625</key>
		<string>69.28</string>
		<key>0.6250</key>
		<string>73.28</string>
		<key>0.6875</key>
		<string>77.28</string>
		<key>0.7500</key>
		<string>80.78</string>
		<key>0.8125</key>
		<string>84.28</string>
		<key>0.8750</key>
		<string>87.78</string>
		<key>0.9375</key>
		<string>91.28</string>
		<key>1.0000</key>
		<string>94.28</string>
	</dict>
	<key>1403</key>
	<dict>
		<key>0.0625</key>
		<string>19.88</string>
		<key>0.1250</key>
		<string>26.88</string>
		<key>0.1875</key>
		<string>33.38</string>
		<key>0.2500</key>
		<string>38.38</string>
		<key>0.3125</key>
		<string>43.38</string>
		<key>0.3750</key>
		<string>47.88</string>
		<key>0.4375</key>
		<string>52.38</string>
		<key>0.5000</key>
		<string>56.38</string>
		<key>0.5625</key>
		<string>60.38</string>
		<key>0.6250</key>
		<string>64.38</string>
		<key>0.6875</key>
		<string>68.38</string>
		<key>0.7500</key>
		<string>71.88</string>
		<key>0.8125</key>
		<string>75.38</string>
		<key>0.8750</key>
		<string>78.88</string>
		<key>0.9375</key>
		<string>82.38</string>
		<key>1.0000</key>
		<string>85.38</string>
	</dict>
	<key>1600</key>
	<dict>
		<key>0.0625</key>
		<string>19.8</string>
		<key>0.1250</key>
		<string>26.8</string>
		<key>0.1875</key>
		<string>33.3</string>
		<key>0.2500</key>
		<string>38.3</string>
		<key>0.3125</key>
		<string>43.3</string>
		<key>0.3750</key>
		<string>47.8</string>
		<key>0.4375</key>
		<string>52.3</string>
		<key>0.5000</key>
		<string>56.3</string>
		<key>0.5625</key>
		<string>60.3</string>
		<key>0.6250</key>
		<string>64.3</string>
		<key>0.6875</key>
		<string>68.3</string>
		<key>0.7500</key>
		<string>71.8</string>
		<key>0.8125</key>
		<string>75.3</string>
		<key>0.8750</key>
		<string>78.8</string>
		<key>0.9375</key>
		<string>82.3</string>
		<key>1.0000</key>
		<string>85.3</string>
	</dict>
	<key>1796</key>
	<dict>
		<key>0.0625</key>
		<string>18.43</string>
		<key>0.1250</key>
		<string>25.43</string>
		<key>0.1875</key>
		<string>31.93</string>
		<key>0.2500</key>
		<string>36.93</string>
		<key>0.3125</key>
		<string>41.93</string>
		<key>0.3750</key>
		<string>46.43</string>
		<key>0.4375</key>
		<string>50.93</string>
		<key>0.5000</key>
		<string>54.93</string>
		<key>0.5625</key>
		<string>58.93</string>
		<key>0.6250</key>
		<string>62.93</string>
		<key>0.6875</key>
		<string>66.93</string>
		<key>0.7500</key>
		<string>70.43</string>
		<key>0.8125</key>
		<string>73.93</string>
		<key>0.8750</key>
		<string>77.43</string>
		<key>0.9375</key>
		<string>80.93</string>
		<key>1.0000</key>
		<string>83.93</string>
	</dict>
	<key>2000</key>
	<dict>
		<key>0.0625</key>
		<string>16.52</string>
		<key>0.1250</key>
		<string>23.52</string>
		<key>0.1875</key>
		<string>30.02</string>
		<key>0.2500</key>
		<string>35.02</string>
		<key>0.3125</key>
		<string>40.02</string>
		<key>0.3750</key>
		<string>44.52</string>
		<key>0.4375</key>
		<string>49.02</string>
		<key>0.5000</key>
		<string>53.02</string>
		<key>0.5625</key>
		<string>57.02</string>
		<key>0.6250</key>
		<string>61.02</string>
		<key>0.6875</key>
		<string>65.02</string>
		<key>0.7500</key>
		<string>68.52</string>
		<key>0.8125</key>
		<string>72.02</string>
		<key>0.8750</key>
		<string>75.52</string>
		<key>0.9375</key>
		<string>79.02</string>
		<key>1.0000</key>
		<string>82.02</string>
	</dict>
	<key>2245</key>
	<dict>
		<key>0.0625</key>
		<string>14.84</string>
		<key>0.1250</key>
		<string>21.84</string>
		<key>0.1875</key>
		<string>28.34</string>
		<key>0.2500</key>
		<string>33.34</string>
		<key>0.3125</key>
		<string>38.34</string>
		<key>0.3750</key>
		<string>42.84</string>
		<key>0.4375</key>
		<string>47.34</string>
		<key>0.5000</key>
		<string>51.34</string>
		<key>0.5625</key>
		<string>55.34</string>
		<key>0.6250</key>
		<string>59.34</string>
		<key>0.6875</key>
		<string>63.34</string>
		<key>0.7500</key>
		<string>66.84</string>
		<key>0.8125</key>
		<string>70.34</string>
		<key>0.8750</key>
		<string>73.84</string>
		<key>0.9375</key>
		<string>77.34</string>
		<key>1.0000</key>
		<string>80.34</string>
	</dict>
	<key>2500</key>
	<dict>
		<key>0.0625</key>
		<string>13.8</string>
		<key>0.1250</key>
		<string>20.8</string>
		<key>0.1875</key>
		<string>27.3</string>
		<key>0.2500</key>
		<string>32.3</string>
		<key>0.3125</key>
		<string>37.3</string>
		<key>0.3750</key>
		<string>41.8</string>
		<key>0.4375</key>
		<string>46.3</string>
		<key>0.5000</key>
		<string>50.3</string>
		<key>0.5625</key>
		<string>54.3</string>
		<key>0.6250</key>
		<string>58.3</string>
		<key>0.6875</key>
		<string>62.3</string>
		<key>0.7500</key>
		<string>65.8</string>
		<key>0.8125</key>
		<string>69.3</string>
		<key>0.8750</key>
		<string>72.8</string>
		<key>0.9375</key>
		<string>76.3</string>
		<key>1.0000</key>
		<string>79.3</string>
	</dict>
	<key>2806</key>
	<dict>
		<key>0.0625</key>
		<string>13.12</string>
		<key>0.1250</key>
		<string>20.12</string>
		<key>0.1875</key>
		<string>26.62</string>
		<key>0.2500</key>
		<string>31.62</string>
		<key>0.3125</key>
		<string>36.62</string>
		<key>0.3750</key>
		<string>41.12</string>
		<key>0.4375</key>
		<string>45.62</string>
		<key>0.5000</key>
		<string>49.62</string>
		<key>0.5625</key>
		<string>53.62</string>
		<key>0.6250</key>
		<string>57.62</string>
		<key>0.6875</key>
		<string>61.62</string>
		<key>0.7500</key>
		<string>65.12</string>
		<key>0.8125</key>
		<string>68.62</string>
		<key>0.8750</key>
		<string>72.12</string>
		<key>0.9375</key>
		<string>75.62</string>
		<key>1.0000</key>
		<string>78.62</string>
	</dict>
	<key>315</key>
	<dict>
		<key>0.0625</key>
		<string>24.87</string>
		<key>0.1250</key>
		<string>31.87</string>
		<key>0.1875</key>
		<string>38.37</string>
		<key>0.2500</key>
		<string>43.37</string>
		<key>0.3125</key>
		<string>48.37</string>
		<key>0.3750</key>
		<string>52.87</string>
		<key>0.4375</key>
		<string>57.37</string>
		<key>0.5000</key>
		<string>61.37</string>
		<key>0.5625</key>
		<string>65.37</string>
		<key>0.6250</key>
		<string>69.37</string>
		<key>0.6875</key>
		<string>73.37</string>
		<key>0.7500</key>
		<string>76.87</string>
		<key>0.8125</key>
		<string>80.37</string>
		<key>0.8750</key>
		<string>83.87</string>
		<key>0.9375</key>
		<string>87.37</string>
		<key>1.0000</key>
		<string>90.37</string>
	</dict>
	<key>3150</key>
	<dict>
		<key>0.0625</key>
		<string>12.89</string>
		<key>0.1250</key>
		<string>19.89</string>
		<key>0.1875</key>
		<string>26.39</string>
		<key>0.2500</key>
		<string>31.39</string>
		<key>0.3125</key>
		<string>36.39</string>
		<key>0.3750</key>
		<string>40.89</string>
		<key>0.4375</key>
		<string>45.39</string>
		<key>0.5000</key>
		<string>49.39</string>
		<key>0.5625</key>
		<string>53.39</string>
		<key>0.6250</key>
		<string>57.39</string>
		<key>0.6875</key>
		<string>61.39</string>
		<key>0.7500</key>
		<string>64.89</string>
		<key>0.8125</key>
		<string>68.39</string>
		<key>0.8750</key>
		<string>71.89</string>
		<key>0.9375</key>
		<string>75.39</string>
		<key>1.0000</key>
		<string>78.39</string>
	</dict>
	<key>3536</key>
	<dict>
		<key>0.0625</key>
		<string>13.12</string>
		<key>0.1250</key>
		<string>20.12</string>
		<key>0.1875</key>
		<string>26.62</string>
		<key>0.2500</key>
		<string>31.62</string>
		<key>0.3125</key>
		<string>36.62</string>
		<key>0.3750</key>
		<string>41.12</string>
		<key>0.4375</key>
		<string>45.62</string>
		<key>0.5000</key>
		<string>49.62</string>
		<key>0.5625</key>
		<string>53.62</string>
		<key>0.6250</key>
		<string>57.62</string>
		<key>0.6875</key>
		<string>61.62</string>
		<key>0.7500</key>
		<string>65.12</string>
		<key>0.8125</key>
		<string>68.62</string>
		<key>0.8750</key>
		<string>72.12</string>
		<key>0.9375</key>
		<string>75.62</string>
		<key>1.0000</key>
		<string>78.62</string>
	</dict>
	<key>354</key>
	<dict>
		<key>0.0625</key>
		<string>23.54</string>
		<key>0.1250</key>
		<string>30.54</string>
		<key>0.1875</key>
		<string>37.04</string>
		<key>0.2500</key>
		<string>42.04</string>
		<key>0.3125</key>
		<string>47.04</string>
		<key>0.3750</key>
		<string>51.54</string>
		<key>0.4375</key>
		<string>56.04</string>
		<key>0.5000</key>
		<string>60.04</string>
		<key>0.5625</key>
		<string>64.04</string>
		<key>0.6250</key>
		<string>68.04</string>
		<key>0.6875</key>
		<string>72.04</string>
		<key>0.7500</key>
		<string>75.54</string>
		<key>0.8125</key>
		<string>79.04</string>
		<key>0.8750</key>
		<string>82.54</string>
		<key>0.9375</key>
		<string>86.04</string>
		<key>1.0000</key>
		<string>89.04</string>
	</dict>
	<key>400</key>
	<dict>
		<key>0.0625</key>
		<string>22.26</string>
		<key>0.1250</key>
		<string>29.26</string>
		<key>0.1875</key>
		<string>35.76</string>
		<key>0.2500</key>
		<string>40.76</string>
		<key>0.3125</key>
		<string>45.76</string>
		<key>0.3750</key>
		<string>50.26</string>
		<key>0.4375</key>
		<string>54.76</string>
		<key>0.5000</key>
		<string>58.76</string>
		<key>0.5625</key>
		<string>62.76</string>
		<key>0.6250</key>
		<string>66.76</string>
		<key>0.6875</key>
		<string>70.76</string>
		<key>0.7500</key>
		<string>74.26</string>
		<key>0.8125</key>
		<string>77.76</string>
		<key>0.8750</key>
		<string>81.26</string>
		<key>0.9375</key>
		<string>84.76</string>
		<key>1.0000</key>
		<string>87.76</string>
	</dict>
	<key>4000</key>
	<dict>
		<key>0.0625</key>
		<string>13.94</string>
		<key>0.1250</key>
		<string>20.94</string>
		<key>0.1875</key>
		<string>27.44</string>
		<key>0.2500</key>
		<string>32.44</string>
		<key>0.3125</key>
		<string>37.44</string>
		<key>0.3750</key>
		<string>41.94</string>
		<key>0.4375</key>
		<string>46.44</string>
		<key>0.5000</key>
		<string>50.44</string>
		<key>0.5625</key>
		<string>54.44</string>
		<key>0.6250</key>
		<string>58.44</string>
		<key>0.6875</key>
		<string>62.44</string>
		<key>0.7500</key>
		<string>65.94</string>
		<key>0.8125</key>
		<string>69.44</string>
		<key>0.8750</key>
		<string>72.94</string>
		<key>0.9375</key>
		<string>76.44</string>
		<key>1.0000</key>
		<string>79.44</string>
	</dict>
	<key>449</key>
	<dict>
		<key>0.0625</key>
		<string>21.22</string>
		<key>0.1250</key>
		<string>28.22</string>
		<key>0.1875</key>
		<string>34.72</string>
		<key>0.2500</key>
		<string>39.72</string>
		<key>0.3125</key>
		<string>44.72</string>
		<key>0.3750</key>
		<string>49.22</string>
		<key>0.4375</key>
		<string>53.72</string>
		<key>0.5000</key>
		<string>57.72</string>
		<key>0.5625</key>
		<string>61.72</string>
		<key>0.6250</key>
		<string>65.72</string>
		<key>0.6875</key>
		<string>69.72</string>
		<key>0.7500</key>
		<string>73.22</string>
		<key>0.8125</key>
		<string>76.72</string>
		<key>0.8750</key>
		<string>80.22</string>
		<key>0.9375</key>
		<string>83.72</string>
		<key>1.0000</key>
		<string>86.72</string>
	</dict>
	<key>4490</key>
	<dict>
		<key>0.0625</key>
		<string>15.36</string>
		<key>0.1250</key>
		<string>22.36</string>
		<key>0.1875</key>
		<string>28.86</string>
		<key>0.2500</key>
		<string>33.86</string>
		<key>0.3125</key>
		<string>38.86</string>
		<key>0.3750</key>
		<string>43.36</string>
		<key>0.4375</key>
		<string>47.86</string>
		<key>0.5000</key>
		<string>51.86</string>
		<key>0.5625</key>
		<string>55.86</string>
		<key>0.6250</key>
		<string>59.86</string>
		<key>0.6875</key>
		<string>63.86</string>
		<key>0.7500</key>
		<string>67.36</string>
		<key>0.8125</key>
		<string>70.86</string>
		<key>0.8750</key>
		<string>74.36</string>
		<key>0.9375</key>
		<string>77.86</string>
		<key>1.0000</key>
		<string>80.86</string>
	</dict>
	<key>500</key>
	<dict>
		<key>0.0625</key>
		<string>20.34</string>
		<key>0.1250</key>
		<string>27.34</string>
		<key>0.1875</key>
		<string>33.84</string>
		<key>0.2500</key>
		<string>38.84</string>
		<key>0.3125</key>
		<string>43.84</string>
		<key>0.3750</key>
		<string>48.34</string>
		<key>0.4375</key>
		<string>52.84</string>
		<key>0.5000</key>
		<string>56.84</string>
		<key>0.5625</key>
		<string>60.84</string>
		<key>0.6250</key>
		<string>64.84</string>
		<key>0.6875</key>
		<string>68.84</string>
		<key>0.7500</key>
		<string>72.34</string>
		<key>0.8125</key>
		<string>75.84</string>
		<key>0.8750</key>
		<string>79.34</string>
		<key>0.9375</key>
		<string>82.84</string>
		<key>1.0000</key>
		<string>85.84</string>
	</dict>
	<key>5000</key>
	<dict>
		<key>0.0625</key>
		<string>17.3</string>
		<key>0.1250</key>
		<string>24.3</string>
		<key>0.1875</key>
		<string>30.8</string>
		<key>0.2500</key>
		<string>35.8</string>
		<key>0.3125</key>
		<string>40.8</string>
		<key>0.3750</key>
		<string>45.3</string>
		<key>0.4375</key>
		<string>49.8</string>
		<key>0.5000</key>
		<string>53.8</string>
		<key>0.5625</key>
		<string>57.8</string>
		<key>0.6250</key>
		<string>61.8</string>
		<key>0.6875</key>
		<string>65.8</string>
		<key>0.7500</key>
		<string>69.3</string>
		<key>0.8125</key>
		<string>72.8</string>
		<key>0.8750</key>
		<string>76.3</string>
		<key>0.9375</key>
		<string>79.8</string>
		<key>1.0000</key>
		<string>82.8</string>
	</dict>
	<key>561</key>
	<dict>
		<key>0.0625</key>
		<string>19.46</string>
		<key>0.1250</key>
		<string>26.46</string>
		<key>0.1875</key>
		<string>32.96</string>
		<key>0.2500</key>
		<string>37.96</string>
		<key>0.3125</key>
		<string>42.96</string>
		<key>0.3750</key>
		<string>47.46</string>
		<key>0.4375</key>
		<string>51.96</string>
		<key>0.5000</key>
		<string>55.96</string>
		<key>0.5625</key>
		<string>59.96</string>
		<key>0.6250</key>
		<string>63.96</string>
		<key>0.6875</key>
		<string>67.96</string>
		<key>0.7500</key>
		<string>71.46</string>
		<key>0.8125</key>
		<string>74.96</string>
		<key>0.8750</key>
		<string>78.46</string>
		<key>0.9375</key>
		<string>81.96</string>
		<key>1.0000</key>
		<string>84.96</string>
	</dict>
	<key>5612</key>
	<dict>
		<key>0.0625</key>
		<string>19.99</string>
		<key>0.1250</key>
		<string>26.99</string>
		<key>0.1875</key>
		<string>33.49</string>
		<key>0.2500</key>
		<string>38.49</string>
		<key>0.3125</key>
		<string>43.49</string>
		<key>0.3750</key>
		<string>47.99</string>
		<key>0.4375</key>
		<string>52.49</string>
		<key>0.5000</key>
		<string>56.49</string>
		<key>0.5625</key>
		<string>60.49</string>
		<key>0.6250</key>
		<string>64.49</string>
		<key>0.6875</key>
		<string>68.49</string>
		<key>0.7500</key>
		<string>71.99</string>
		<key>0.8125</key>
		<string>75.49</string>
		<key>0.8750</key>
		<string>78.99</string>
		<key>0.9375</key>
		<string>82.49</string>
		<key>1.0000</key>
		<string>85.49</string>
	</dict>
	<key>630</key>
	<dict>
		<key>0.0625</key>
		<string>18.63</string>
		<key>0.1250</key>
		<string>25.63</string>
		<key>0.1875</key>
		<string>32.13</string>
		<key>0.2500</key>
		<string>37.13</string>
		<key>0.3125</key>
		<string>42.13</string>
		<key>0.3750</key>
		<string>46.63</string>
		<key>0.4375</key>
		<string>51.13</string>
		<key>0.5000</key>
		<string>55.13</string>
		<key>0.5625</key>
		<string>59.13</string>
		<key>0.6250</key>
		<string>63.13</string>
		<key>0.6875</key>
		<string>67.13</string>
		<key>0.7500</key>
		<string>70.63</string>
		<key>0.8125</key>
		<string>74.13</string>
		<key>0.8750</key>
		<string>77.63</string>
		<key>0.9375</key>
		<string>81.13</string>
		<key>1.0000</key>
		<string>84.13</string>
	</dict>
	<key>6300</key>
	<dict>
		<key>0.0625</key>
		<string>23.11</string>
		<key>0.1250</key>
		<string>30.11</string>
		<key>0.1875</key>
		<string>36.61</string>
		<key>0.2500</key>
		<string>41.61</string>
		<key>0.3125</key>
		<string>46.61</string>
		<key>0.3750</key>
		<string>51.11</string>
		<key>0.4375</key>
		<string>55.61</string>
		<key>0.5000</key>
		<string>59.61</string>
		<key>0.5625</key>
		<string>63.61</string>
		<key>0.6250</key>
		<string>67.61</string>
		<key>0.6875</key>
		<string>71.61</string>
		<key>0.7500</key>
		<string>75.11</string>
		<key>0.8125</key>
		<string>78.61</string>
		<key>0.8750</key>
		<string>82.11</string>
		<key>0.9375</key>
		<string>85.61</string>
		<key>1.0000</key>
		<string>88.61</string>
	</dict>
	<key>707</key>
	<dict>
		<key>0.0625</key>
		<string>17.91</string>
		<key>0.1250</key>
		<string>24.91</string>
		<key>0.1875</key>
		<string>31.41</string>
		<key>0.2500</key>
		<string>36.41</string>
		<key>0.3125</key>
		<string>41.41</string>
		<key>0.3750</key>
		<string>45.91</string>
		<key>0.4375</key>
		<string>50.41</string>
		<key>0.5000</key>
		<string>54.41</string>
		<key>0.5625</key>
		<string>58.41</string>
		<key>0.6250</key>
		<string>62.41</string>
		<key>0.6875</key>
		<string>66.41</string>
		<key>0.7500</key>
		<string>69.91</string>
		<key>0.8125</key>
		<string>73.41</string>
		<key>0.8750</key>
		<string>76.91</string>
		<key>0.9375</key>
		<string>80.41</string>
		<key>1.0000</key>
		<string>83.41</string>
	</dict>
	<key>7072</key>
	<dict>
		<key>0.0625</key>
		<string>26.22</string>
		<key>0.1250</key>
		<string>33.22</string>
		<key>0.1875</key>
		<string>39.72</string>
		<key>0.2500</key>
		<string>44.72</string>
		<key>0.3125</key>
		<string>49.72</string>
		<key>0.3750</key>
		<string>54.22</string>
		<key>0.4375</key>
		<string>58.72</string>
		<key>0.5000</key>
		<string>62.72</string>
		<key>0.5625</key>
		<string>66.72</string>
		<key>0.6250</key>
		<string>70.72</string>
		<key>0.6875</key>
		<string>74.72</string>
		<key>0.7500</key>
		<string>78.22</string>
		<key>0.8125</key>
		<string>81.72</string>
		<key>0.8750</key>
		<string>85.22</string>
		<key>0.9375</key>
		<string>88.72</string>
		<key>1.0000</key>
		<string>91.72</string>
	</dict>
	<key>800</key>
	<dict>
		<key>0.0625</key>
		<string>17.35</string>
		<key>0.1250</key>
		<string>24.35</string>
		<key>0.1875</key>
		<string>30.85</string>
		<key>0.2500</key>
		<string>35.85</string>
		<key>0.3125</key>
		<string>40.85</string>
		<key>0.3750</key>
		<string>45.35</string>
		<key>0.4375</key>
		<string>49.85</string>
		<key>0.5000</key>
		<string>53.85</string>
		<key>0.5625</key>
		<string>57.85</string>
		<key>0.6250</key>
		<string>61.85</string>
		<key>0.6875</key>
		<string>65.85</string>
		<key>0.7500</key>
		<string>69.35</string>
		<key>0.8125</key>
		<string>72.85</string>
		<key>0.8750</key>
		<string>76.35</string>
		<key>0.9375</key>
		<string>79.85</string>
		<key>1.0000</key>
		<string>82.85</string>
	</dict>
	<key>8000</key>
	<dict>
		<key>0.0625</key>
		<string>29.09</string>
		<key>0.1250</key>
		<string>36.09</string>
		<key>0.1875</key>
		<string>42.59</string>
		<key>0.2500</key>
		<string>47.59</string>
		<key>0.3125</key>
		<string>52.59</string>
		<key>0.3750</key>
		<string>57.09</string>
		<key>0.4375</key>
		<string>61.59</string>
		<key>0.5000</key>
		<string>65.59</string>
		<key>0.5625</key>
		<string>69.59</string>
		<key>0.6250</key>
		<string>73.59</string>
		<key>0.6875</key>
		<string>77.59</string>
		<key>0.7500</key>
		<string>81.09</string>
		<key>0.8125</key>
		<string>84.59</string>
		<key>0.8750</key>
		<string>88.09</string>
		<key>0.9375</key>
		<string>91.59</string>
		<key>1.0000</key>
		<string>94.59</string>
	</dict>
	<key>898</key>
	<dict>
		<key>0.0625</key>
		<string>17.11</string>
		<key>0.1250</key>
		<string>24.11</string>
		<key>0.1875</key>
		<string>30.61</string>
		<key>0.2500</key>
		<string>35.61</string>
		<key>0.3125</key>
		<string>40.61</string>
		<key>0.3750</key>
		<string>45.11</string>
		<key>0.4375</key>
		<string>49.61</string>
		<key>0.5000</key>
		<string>53.61</string>
		<key>0.5625</key>
		<string>57.61</string>
		<key>0.6250</key>
		<string>61.61</string>
		<key>0.6875</key>
		<string>65.61</string>
		<key>0.7500</key>
		<string>69.11</string>
		<key>0.8125</key>
		<string>72.61</string>
		<key>0.8750</key>
		<string>76.11</string>
		<key>0.9375</key>
		<string>79.61</string>
		<key>1.0000</key>
		<string>82.61</string>
	</dict>
	<key>8980</key>
	<dict>
		<key>0.0625</key>
		<string>30.91</string>
		<key>0.1250</key>
		<string>37.91</string>
		<key>0.1875</key>
		<string>44.41</string>
		<key>0.2500</key>
		<string>49.41</string>
		<key>0.3125</key>
		<string>54.41</string>
		<key>0.3750</key>
		<string>58.91</string>
		<key>0.4375</key>
		<string>63.41</string>
		<key>0.5000</key>
		<string>67.41</string>
		<key>0.5625</key>
		<string>71.41</string>
		<key>0.6250</key>
		<string>75.41</string>
		<key>0.6875</key>
		<string>79.41</string>
		<key>0.7500</key>
		<string>82.91</string>
		<key>0.8125</key>
		<string>86.41</string>
		<key>0.8750</key>
		<string>89.91</string>
		<key>0.9375</key>
		<string>93.41</string>
		<key>1.0000</key>
		<string>96.41</string>
	</dict>
</dict>
</plist>
