<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>12500</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>11224</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>10000</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>8980</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>8000</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>7072</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>6300</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>5612</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>5000</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>4490</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>4000</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>3536</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>3150</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>2806</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>2500</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>2245</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>2000</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>1796</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>1600</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>1403</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>1250</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>1122</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>1000</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>898</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>800</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>707</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>630</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>561</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>500</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>449</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>400</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>354</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
	<key>315</key>
	<dict>
		<key>1.0000</key>
		<string>0.00</string>
		<key>0.9375</key>
		<string>0.00</string>
		<key>0.8750</key>
		<string>0.00</string>
		<key>0.8125</key>
		<string>0.00</string>
		<key>0.7500</key>
		<string>0.00</string>
		<key>0.6875</key>
		<string>0.00</string>
		<key>0.6250</key>
		<string>0.00</string>
		<key>0.5625</key>
		<string>0.00</string>
		<key>0.5000</key>
		<string>0.00</string>
		<key>0.4375</key>
		<string>0.00</string>
		<key>0.3750</key>
		<string>0.00</string>
		<key>0.3125</key>
		<string>0.00</string>
		<key>0.2500</key>
		<string>0.00</string>
		<key>0.1875</key>
		<string>0.00</string>
		<key>0.1250</key>
		<string>0.00</string>
		<key>0.0625</key>
		<string>0.00</string>
	</dict>
</dict>
</plist>
