<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100</key>
	<string>83.97</string>
	<key>125</key>
	<string>83.97</string>
	<key>140</key>
	<string>83.69</string>
	<key>157</key>
	<string>83.37</string>
	<key>160</key>
	<string>83.37</string>
	<key>176</key>
	<string>83.05</string>
	<key>200</key>
	<string>82.58</string>
	<key>222</key>
	<string>82.37</string>
	<key>250</key>
	<string>82.02</string>
	<key>280</key>
	<string>81.70</string>
	<key>315</key>
	<string>81.40</string>
	<key>354</key>
	<string>81.15</string>
	<key>400</key>
	<string>80.97</string>
	<key>449</key>
	<string>80.92</string>
	<key>500</key>
	<string>81.00</string>
	<key>561</key>
	<string>81.27</string>
	<key>630</key>
	<string>81.74</string>
	<key>707</key>
	<string>82.35</string>
	<key>800</key>
	<string>83.07</string>
	<key>898</key>
	<string>83.69</string>
	<key>1000</key>
	<string>84.20</string>
	<key>1122</key>
	<string>84.68</string>
	<key>1250</key>
	<string>85.08</string>
	<key>1403</key>
	<string>85.52</string>
	<key>1600</key>
	<string>86.20</string>
	<key>1796</key>
	<string>87.08</string>
	<key>2000</key>
	<string>88.12</string>
	<key>2245</key>
	<string>89.41</string>
	<key>2500</key>
	<string>90.62</string>
	<key>2806</key>
	<string>91.63</string>
	<key>3150</key>
	<string>91.80</string>
	<key>3536</key>
	<string>90.91</string>
	<key>4000</key>
	<string>89.63</string>
	<key>4490</key>
	<string>89.40</string>
	<key>5000</key>
	<string>90.04</string>
	<key>5612</key>
	<string>90.82</string>
	<key>6300</key>
	<string>90.08</string>
	<key>7072</key>
	<string>87.23</string>
	<key>8000</key>
	<string>85.14</string>
	<key>8980</key>
	<string>86.17</string>
	<key>10000</key>
	<string>82.32</string>
	<key>11224</key>
	<string>81.88</string>
	<key>12500</key>
	<string>77.95</string>
</dict>
</plist>
