<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1000</key>
	<dict>
		<key>0.0625</key>
		<string>21.2</string>
		<key>0.1250</key>
		<string>28.2</string>
		<key>0.1875</key>
		<string>34.7</string>
		<key>0.2500</key>
		<string>39.7</string>
		<key>0.3125</key>
		<string>44.7</string>
		<key>0.3750</key>
		<string>49.2</string>
		<key>0.4375</key>
		<string>53.7</string>
		<key>0.5000</key>
		<string>57.7</string>
		<key>0.5625</key>
		<string>61.7</string>
		<key>0.6250</key>
		<string>65.7</string>
		<key>0.6875</key>
		<string>69.7</string>
		<key>0.7500</key>
		<string>73.2</string>
		<key>0.8125</key>
		<string>76.7</string>
		<key>0.8750</key>
		<string>80.2</string>
		<key>0.9375</key>
		<string>83.7</string>
		<key>1.0000</key>
		<string>86.7</string>
	</dict>
	<key>10000</key>
	<dict>
		<key>0.0625</key>
		<string>35.47</string>
		<key>0.1250</key>
		<string>42.47</string>
		<key>0.1875</key>
		<string>48.97</string>
		<key>0.2500</key>
		<string>53.97</string>
		<key>0.3125</key>
		<string>58.97</string>
		<key>0.3750</key>
		<string>63.47</string>
		<key>0.4375</key>
		<string>67.97</string>
		<key>0.5000</key>
		<string>71.97</string>
		<key>0.5625</key>
		<string>75.97</string>
		<key>0.6250</key>
		<string>79.97</string>
		<key>0.6875</key>
		<string>83.97</string>
		<key>0.7500</key>
		<string>87.47</string>
		<key>0.8125</key>
		<string>90.97</string>
		<key>0.8750</key>
		<string>94.47</string>
		<key>0.9375</key>
		<string>97.97</string>
		<key>1.0000</key>
		<string>100.97</string>
	</dict>
	<key>1122</key>
	<dict>
		<key>0.0625</key>
		<string>21.99</string>
		<key>0.1250</key>
		<string>28.99</string>
		<key>0.1875</key>
		<string>35.49</string>
		<key>0.2500</key>
		<string>40.49</string>
		<key>0.3125</key>
		<string>45.49</string>
		<key>0.3750</key>
		<string>49.99</string>
		<key>0.4375</key>
		<string>54.49</string>
		<key>0.5000</key>
		<string>58.49</string>
		<key>0.5625</key>
		<string>62.49</string>
		<key>0.6250</key>
		<string>66.49</string>
		<key>0.6875</key>
		<string>70.49</string>
		<key>0.7500</key>
		<string>73.99</string>
		<key>0.8125</key>
		<string>77.49</string>
		<key>0.8750</key>
		<string>80.99</string>
		<key>0.9375</key>
		<string>84.49</string>
		<key>1.0000</key>
		<string>87.49</string>
	</dict>
	<key>11224</key>
	<dict>
		<key>0.0625</key>
		<string>34.82</string>
		<key>0.1250</key>
		<string>41.82</string>
		<key>0.1875</key>
		<string>48.32</string>
		<key>0.2500</key>
		<string>53.32</string>
		<key>0.3125</key>
		<string>58.32</string>
		<key>0.3750</key>
		<string>62.82</string>
		<key>0.4375</key>
		<string>67.32</string>
		<key>0.5000</key>
		<string>71.32</string>
		<key>0.5625</key>
		<string>75.32</string>
		<key>0.6250</key>
		<string>79.32</string>
		<key>0.6875</key>
		<string>83.32</string>
		<key>0.7500</key>
		<string>86.82</string>
		<key>0.8125</key>
		<string>90.32</string>
		<key>0.8750</key>
		<string>93.82</string>
		<key>0.9375</key>
		<string>97.32</string>
		<key>1.0000</key>
		<string>100.32</string>
	</dict>
	<key>1250</key>
	<dict>
		<key>0.0625</key>
		<string>23.01</string>
		<key>0.1250</key>
		<string>30.01</string>
		<key>0.1875</key>
		<string>36.51</string>
		<key>0.2500</key>
		<string>41.51</string>
		<key>0.3125</key>
		<string>46.51</string>
		<key>0.3750</key>
		<string>51.01</string>
		<key>0.4375</key>
		<string>55.51</string>
		<key>0.5000</key>
		<string>59.51</string>
		<key>0.5625</key>
		<string>63.51</string>
		<key>0.6250</key>
		<string>67.51</string>
		<key>0.6875</key>
		<string>71.51</string>
		<key>0.7500</key>
		<string>75.01</string>
		<key>0.8125</key>
		<string>78.51</string>
		<key>0.8750</key>
		<string>82.01</string>
		<key>0.9375</key>
		<string>85.51</string>
		<key>1.0000</key>
		<string>88.51</string>
	</dict>
	<key>12500</key>
	<dict>
		<key>0.0625</key>
		<string>32.68</string>
		<key>0.1250</key>
		<string>39.68</string>
		<key>0.1875</key>
		<string>46.18</string>
		<key>0.2500</key>
		<string>51.18</string>
		<key>0.3125</key>
		<string>56.18</string>
		<key>0.3750</key>
		<string>60.68</string>
		<key>0.4375</key>
		<string>65.18</string>
		<key>0.5000</key>
		<string>69.18</string>
		<key>0.5625</key>
		<string>73.18</string>
		<key>0.6250</key>
		<string>77.18</string>
		<key>0.6875</key>
		<string>81.18</string>
		<key>0.7500</key>
		<string>84.68</string>
		<key>0.8125</key>
		<string>88.18</string>
		<key>0.8750</key>
		<string>91.68</string>
		<key>0.9375</key>
		<string>95.18</string>
		<key>1.0000</key>
		<string>98.18</string>
	</dict>
	<key>1403</key>
	<dict>
		<key>0.0625</key>
		<string>23.79</string>
		<key>0.1250</key>
		<string>30.79</string>
		<key>0.1875</key>
		<string>37.29</string>
		<key>0.2500</key>
		<string>42.29</string>
		<key>0.3125</key>
		<string>47.29</string>
		<key>0.3750</key>
		<string>51.79</string>
		<key>0.4375</key>
		<string>56.29</string>
		<key>0.5000</key>
		<string>60.29</string>
		<key>0.5625</key>
		<string>64.29</string>
		<key>0.6250</key>
		<string>68.29</string>
		<key>0.6875</key>
		<string>72.29</string>
		<key>0.7500</key>
		<string>75.79</string>
		<key>0.8125</key>
		<string>79.29</string>
		<key>0.8750</key>
		<string>82.79</string>
		<key>0.9375</key>
		<string>86.29</string>
		<key>1.0000</key>
		<string>89.29</string>
	</dict>
	<key>1600</key>
	<dict>
		<key>0.0625</key>
		<string>23.7</string>
		<key>0.1250</key>
		<string>30.7</string>
		<key>0.1875</key>
		<string>37.2</string>
		<key>0.2500</key>
		<string>42.2</string>
		<key>0.3125</key>
		<string>47.2</string>
		<key>0.3750</key>
		<string>51.7</string>
		<key>0.4375</key>
		<string>56.2</string>
		<key>0.5000</key>
		<string>60.2</string>
		<key>0.5625</key>
		<string>64.2</string>
		<key>0.6250</key>
		<string>68.2</string>
		<key>0.6875</key>
		<string>72.2</string>
		<key>0.7500</key>
		<string>75.7</string>
		<key>0.8125</key>
		<string>79.2</string>
		<key>0.8750</key>
		<string>82.7</string>
		<key>0.9375</key>
		<string>86.2</string>
		<key>1.0000</key>
		<string>89.2</string>
	</dict>
	<key>1796</key>
	<dict>
		<key>0.0625</key>
		<string>22.33</string>
		<key>0.1250</key>
		<string>29.33</string>
		<key>0.1875</key>
		<string>35.83</string>
		<key>0.2500</key>
		<string>40.83</string>
		<key>0.3125</key>
		<string>45.83</string>
		<key>0.3750</key>
		<string>50.33</string>
		<key>0.4375</key>
		<string>54.83</string>
		<key>0.5000</key>
		<string>58.83</string>
		<key>0.5625</key>
		<string>62.83</string>
		<key>0.6250</key>
		<string>66.83</string>
		<key>0.6875</key>
		<string>70.83</string>
		<key>0.7500</key>
		<string>74.33</string>
		<key>0.8125</key>
		<string>77.83</string>
		<key>0.8750</key>
		<string>81.33</string>
		<key>0.9375</key>
		<string>84.83</string>
		<key>1.0000</key>
		<string>87.83</string>
	</dict>
	<key>2000</key>
	<dict>
		<key>0.0625</key>
		<string>20.42</string>
		<key>0.1250</key>
		<string>27.42</string>
		<key>0.1875</key>
		<string>33.92</string>
		<key>0.2500</key>
		<string>38.92</string>
		<key>0.3125</key>
		<string>43.92</string>
		<key>0.3750</key>
		<string>48.42</string>
		<key>0.4375</key>
		<string>52.92</string>
		<key>0.5000</key>
		<string>56.92</string>
		<key>0.5625</key>
		<string>60.92</string>
		<key>0.6250</key>
		<string>64.92</string>
		<key>0.6875</key>
		<string>68.92</string>
		<key>0.7500</key>
		<string>72.42</string>
		<key>0.8125</key>
		<string>75.92</string>
		<key>0.8750</key>
		<string>79.42</string>
		<key>0.9375</key>
		<string>82.92</string>
		<key>1.0000</key>
		<string>85.92</string>
	</dict>
	<key>2245</key>
	<dict>
		<key>0.0625</key>
		<string>18.73</string>
		<key>0.1250</key>
		<string>25.73</string>
		<key>0.1875</key>
		<string>32.23</string>
		<key>0.2500</key>
		<string>37.23</string>
		<key>0.3125</key>
		<string>42.23</string>
		<key>0.3750</key>
		<string>46.73</string>
		<key>0.4375</key>
		<string>51.23</string>
		<key>0.5000</key>
		<string>55.23</string>
		<key>0.5625</key>
		<string>59.23</string>
		<key>0.6250</key>
		<string>63.23</string>
		<key>0.6875</key>
		<string>67.23</string>
		<key>0.7500</key>
		<string>70.73</string>
		<key>0.8125</key>
		<string>74.23</string>
		<key>0.8750</key>
		<string>77.73</string>
		<key>0.9375</key>
		<string>81.23</string>
		<key>1.0000</key>
		<string>84.23</string>
	</dict>
	<key>2500</key>
	<dict>
		<key>0.0625</key>
		<string>17.7</string>
		<key>0.1250</key>
		<string>24.7</string>
		<key>0.1875</key>
		<string>31.2</string>
		<key>0.2500</key>
		<string>36.2</string>
		<key>0.3125</key>
		<string>41.2</string>
		<key>0.3750</key>
		<string>45.7</string>
		<key>0.4375</key>
		<string>50.2</string>
		<key>0.5000</key>
		<string>54.2</string>
		<key>0.5625</key>
		<string>58.2</string>
		<key>0.6250</key>
		<string>62.2</string>
		<key>0.6875</key>
		<string>66.2</string>
		<key>0.7500</key>
		<string>69.7</string>
		<key>0.8125</key>
		<string>73.2</string>
		<key>0.8750</key>
		<string>76.7</string>
		<key>0.9375</key>
		<string>80.2</string>
		<key>1.0000</key>
		<string>83.2</string>
	</dict>
	<key>2806</key>
	<dict>
		<key>0.0625</key>
		<string>17.03</string>
		<key>0.1250</key>
		<string>24.03</string>
		<key>0.1875</key>
		<string>30.53</string>
		<key>0.2500</key>
		<string>35.53</string>
		<key>0.3125</key>
		<string>40.53</string>
		<key>0.3750</key>
		<string>45.03</string>
		<key>0.4375</key>
		<string>49.53</string>
		<key>0.5000</key>
		<string>53.53</string>
		<key>0.5625</key>
		<string>57.53</string>
		<key>0.6250</key>
		<string>61.53</string>
		<key>0.6875</key>
		<string>65.53</string>
		<key>0.7500</key>
		<string>69.03</string>
		<key>0.8125</key>
		<string>72.53</string>
		<key>0.8750</key>
		<string>76.03</string>
		<key>0.9375</key>
		<string>79.53</string>
		<key>1.0000</key>
		<string>82.53</string>
	</dict>
	<key>315</key>
	<dict>
		<key>0.0625</key>
		<string>28.77</string>
		<key>0.1250</key>
		<string>35.77</string>
		<key>0.1875</key>
		<string>42.27</string>
		<key>0.2500</key>
		<string>47.27</string>
		<key>0.3125</key>
		<string>52.27</string>
		<key>0.3750</key>
		<string>56.77</string>
		<key>0.4375</key>
		<string>61.27</string>
		<key>0.5000</key>
		<string>65.27</string>
		<key>0.5625</key>
		<string>69.27</string>
		<key>0.6250</key>
		<string>73.27</string>
		<key>0.6875</key>
		<string>77.27</string>
		<key>0.7500</key>
		<string>80.77</string>
		<key>0.8125</key>
		<string>84.27</string>
		<key>0.8750</key>
		<string>87.77</string>
		<key>0.9375</key>
		<string>91.27</string>
		<key>1.0000</key>
		<string>94.27</string>
	</dict>
	<key>3150</key>
	<dict>
		<key>0.0625</key>
		<string>16.8</string>
		<key>0.1250</key>
		<string>23.8</string>
		<key>0.1875</key>
		<string>30.3</string>
		<key>0.2500</key>
		<string>35.3</string>
		<key>0.3125</key>
		<string>40.3</string>
		<key>0.3750</key>
		<string>44.8</string>
		<key>0.4375</key>
		<string>49.3</string>
		<key>0.5000</key>
		<string>53.3</string>
		<key>0.5625</key>
		<string>57.3</string>
		<key>0.6250</key>
		<string>61.3</string>
		<key>0.6875</key>
		<string>65.3</string>
		<key>0.7500</key>
		<string>68.8</string>
		<key>0.8125</key>
		<string>72.3</string>
		<key>0.8750</key>
		<string>75.8</string>
		<key>0.9375</key>
		<string>79.3</string>
		<key>1.0000</key>
		<string>82.3</string>
	</dict>
	<key>3536</key>
	<dict>
		<key>0.0625</key>
		<string>17.02</string>
		<key>0.1250</key>
		<string>24.02</string>
		<key>0.1875</key>
		<string>30.52</string>
		<key>0.2500</key>
		<string>35.52</string>
		<key>0.3125</key>
		<string>40.52</string>
		<key>0.3750</key>
		<string>45.02</string>
		<key>0.4375</key>
		<string>49.52</string>
		<key>0.5000</key>
		<string>53.52</string>
		<key>0.5625</key>
		<string>57.52</string>
		<key>0.6250</key>
		<string>61.52</string>
		<key>0.6875</key>
		<string>65.52</string>
		<key>0.7500</key>
		<string>69.02</string>
		<key>0.8125</key>
		<string>72.52</string>
		<key>0.8750</key>
		<string>76.02</string>
		<key>0.9375</key>
		<string>79.52</string>
		<key>1.0000</key>
		<string>82.52</string>
	</dict>
	<key>354</key>
	<dict>
		<key>0.0625</key>
		<string>27.44</string>
		<key>0.1250</key>
		<string>34.44</string>
		<key>0.1875</key>
		<string>40.94</string>
		<key>0.2500</key>
		<string>45.94</string>
		<key>0.3125</key>
		<string>50.94</string>
		<key>0.3750</key>
		<string>55.44</string>
		<key>0.4375</key>
		<string>59.94</string>
		<key>0.5000</key>
		<string>63.94</string>
		<key>0.5625</key>
		<string>67.94</string>
		<key>0.6250</key>
		<string>71.94</string>
		<key>0.6875</key>
		<string>75.94</string>
		<key>0.7500</key>
		<string>79.44</string>
		<key>0.8125</key>
		<string>82.94</string>
		<key>0.8750</key>
		<string>86.44</string>
		<key>0.9375</key>
		<string>89.94</string>
		<key>1.0000</key>
		<string>92.94</string>
	</dict>
	<key>400</key>
	<dict>
		<key>0.0625</key>
		<string>26.17</string>
		<key>0.1250</key>
		<string>33.17</string>
		<key>0.1875</key>
		<string>39.67</string>
		<key>0.2500</key>
		<string>44.67</string>
		<key>0.3125</key>
		<string>49.67</string>
		<key>0.3750</key>
		<string>54.17</string>
		<key>0.4375</key>
		<string>58.67</string>
		<key>0.5000</key>
		<string>62.67</string>
		<key>0.5625</key>
		<string>66.67</string>
		<key>0.6250</key>
		<string>70.67</string>
		<key>0.6875</key>
		<string>74.67</string>
		<key>0.7500</key>
		<string>78.17</string>
		<key>0.8125</key>
		<string>81.67</string>
		<key>0.8750</key>
		<string>85.17</string>
		<key>0.9375</key>
		<string>88.67</string>
		<key>1.0000</key>
		<string>91.67</string>
	</dict>
	<key>4000</key>
	<dict>
		<key>0.0625</key>
		<string>17.84</string>
		<key>0.1250</key>
		<string>24.84</string>
		<key>0.1875</key>
		<string>31.34</string>
		<key>0.2500</key>
		<string>36.34</string>
		<key>0.3125</key>
		<string>41.34</string>
		<key>0.3750</key>
		<string>45.84</string>
		<key>0.4375</key>
		<string>50.34</string>
		<key>0.5000</key>
		<string>54.34</string>
		<key>0.5625</key>
		<string>58.34</string>
		<key>0.6250</key>
		<string>62.34</string>
		<key>0.6875</key>
		<string>66.34</string>
		<key>0.7500</key>
		<string>69.84</string>
		<key>0.8125</key>
		<string>73.34</string>
		<key>0.8750</key>
		<string>76.84</string>
		<key>0.9375</key>
		<string>80.34</string>
		<key>1.0000</key>
		<string>83.34</string>
	</dict>
	<key>449</key>
	<dict>
		<key>0.0625</key>
		<string>25.11</string>
		<key>0.1250</key>
		<string>32.11</string>
		<key>0.1875</key>
		<string>38.61</string>
		<key>0.2500</key>
		<string>43.61</string>
		<key>0.3125</key>
		<string>48.61</string>
		<key>0.3750</key>
		<string>53.11</string>
		<key>0.4375</key>
		<string>57.61</string>
		<key>0.5000</key>
		<string>61.61</string>
		<key>0.5625</key>
		<string>65.61</string>
		<key>0.6250</key>
		<string>69.61</string>
		<key>0.6875</key>
		<string>73.61</string>
		<key>0.7500</key>
		<string>77.11</string>
		<key>0.8125</key>
		<string>80.61</string>
		<key>0.8750</key>
		<string>84.11</string>
		<key>0.9375</key>
		<string>87.61</string>
		<key>1.0000</key>
		<string>90.61</string>
	</dict>
	<key>4490</key>
	<dict>
		<key>0.0625</key>
		<string>19.26</string>
		<key>0.1250</key>
		<string>26.26</string>
		<key>0.1875</key>
		<string>32.76</string>
		<key>0.2500</key>
		<string>37.76</string>
		<key>0.3125</key>
		<string>42.76</string>
		<key>0.3750</key>
		<string>47.26</string>
		<key>0.4375</key>
		<string>51.76</string>
		<key>0.5000</key>
		<string>55.76</string>
		<key>0.5625</key>
		<string>59.76</string>
		<key>0.6250</key>
		<string>63.76</string>
		<key>0.6875</key>
		<string>67.76</string>
		<key>0.7500</key>
		<string>71.26</string>
		<key>0.8125</key>
		<string>74.76</string>
		<key>0.8750</key>
		<string>78.26</string>
		<key>0.9375</key>
		<string>81.76</string>
		<key>1.0000</key>
		<string>84.76</string>
	</dict>
	<key>500</key>
	<dict>
		<key>0.0625</key>
		<string>24.24</string>
		<key>0.1250</key>
		<string>31.24</string>
		<key>0.1875</key>
		<string>37.74</string>
		<key>0.2500</key>
		<string>42.74</string>
		<key>0.3125</key>
		<string>47.74</string>
		<key>0.3750</key>
		<string>52.24</string>
		<key>0.4375</key>
		<string>56.74</string>
		<key>0.5000</key>
		<string>60.74</string>
		<key>0.5625</key>
		<string>64.74</string>
		<key>0.6250</key>
		<string>68.74</string>
		<key>0.6875</key>
		<string>72.74</string>
		<key>0.7500</key>
		<string>76.24</string>
		<key>0.8125</key>
		<string>79.74</string>
		<key>0.8750</key>
		<string>83.24</string>
		<key>0.9375</key>
		<string>86.74</string>
		<key>1.0000</key>
		<string>89.74</string>
	</dict>
	<key>5000</key>
	<dict>
		<key>0.0625</key>
		<string>21.2</string>
		<key>0.1250</key>
		<string>28.2</string>
		<key>0.1875</key>
		<string>34.7</string>
		<key>0.2500</key>
		<string>39.7</string>
		<key>0.3125</key>
		<string>44.7</string>
		<key>0.3750</key>
		<string>49.2</string>
		<key>0.4375</key>
		<string>53.7</string>
		<key>0.5000</key>
		<string>57.7</string>
		<key>0.5625</key>
		<string>61.7</string>
		<key>0.6250</key>
		<string>65.7</string>
		<key>0.6875</key>
		<string>69.7</string>
		<key>0.7500</key>
		<string>73.2</string>
		<key>0.8125</key>
		<string>76.7</string>
		<key>0.8750</key>
		<string>80.2</string>
		<key>0.9375</key>
		<string>83.7</string>
		<key>1.0000</key>
		<string>86.7</string>
	</dict>
	<key>561</key>
	<dict>
		<key>0.0625</key>
		<string>23.36</string>
		<key>0.1250</key>
		<string>30.36</string>
		<key>0.1875</key>
		<string>36.86</string>
		<key>0.2500</key>
		<string>41.86</string>
		<key>0.3125</key>
		<string>46.86</string>
		<key>0.3750</key>
		<string>51.36</string>
		<key>0.4375</key>
		<string>55.86</string>
		<key>0.5000</key>
		<string>59.86</string>
		<key>0.5625</key>
		<string>63.86</string>
		<key>0.6250</key>
		<string>67.86</string>
		<key>0.6875</key>
		<string>71.86</string>
		<key>0.7500</key>
		<string>75.36</string>
		<key>0.8125</key>
		<string>78.86</string>
		<key>0.8750</key>
		<string>82.36</string>
		<key>0.9375</key>
		<string>85.86</string>
		<key>1.0000</key>
		<string>88.86</string>
	</dict>
	<key>5612</key>
	<dict>
		<key>0.0625</key>
		<string>23.89</string>
		<key>0.1250</key>
		<string>30.89</string>
		<key>0.1875</key>
		<string>37.39</string>
		<key>0.2500</key>
		<string>42.39</string>
		<key>0.3125</key>
		<string>47.39</string>
		<key>0.3750</key>
		<string>51.89</string>
		<key>0.4375</key>
		<string>56.39</string>
		<key>0.5000</key>
		<string>60.39</string>
		<key>0.5625</key>
		<string>64.39</string>
		<key>0.6250</key>
		<string>68.39</string>
		<key>0.6875</key>
		<string>72.39</string>
		<key>0.7500</key>
		<string>75.89</string>
		<key>0.8125</key>
		<string>79.39</string>
		<key>0.8750</key>
		<string>82.89</string>
		<key>0.9375</key>
		<string>86.39</string>
		<key>1.0000</key>
		<string>89.39</string>
	</dict>
	<key>630</key>
	<dict>
		<key>0.0625</key>
		<string>22.53</string>
		<key>0.1250</key>
		<string>29.53</string>
		<key>0.1875</key>
		<string>36.03</string>
		<key>0.2500</key>
		<string>41.03</string>
		<key>0.3125</key>
		<string>46.03</string>
		<key>0.3750</key>
		<string>50.53</string>
		<key>0.4375</key>
		<string>55.03</string>
		<key>0.5000</key>
		<string>59.03</string>
		<key>0.5625</key>
		<string>63.03</string>
		<key>0.6250</key>
		<string>67.03</string>
		<key>0.6875</key>
		<string>71.03</string>
		<key>0.7500</key>
		<string>74.53</string>
		<key>0.8125</key>
		<string>78.03</string>
		<key>0.8750</key>
		<string>81.53</string>
		<key>0.9375</key>
		<string>85.03</string>
		<key>1.0000</key>
		<string>88.03</string>
	</dict>
	<key>6300</key>
	<dict>
		<key>0.0625</key>
		<string>27.01</string>
		<key>0.1250</key>
		<string>34.01</string>
		<key>0.1875</key>
		<string>40.51</string>
		<key>0.2500</key>
		<string>45.51</string>
		<key>0.3125</key>
		<string>50.51</string>
		<key>0.3750</key>
		<string>55.01</string>
		<key>0.4375</key>
		<string>59.51</string>
		<key>0.5000</key>
		<string>63.51</string>
		<key>0.5625</key>
		<string>67.51</string>
		<key>0.6250</key>
		<string>71.51</string>
		<key>0.6875</key>
		<string>75.51</string>
		<key>0.7500</key>
		<string>79.01</string>
		<key>0.8125</key>
		<string>82.51</string>
		<key>0.8750</key>
		<string>86.01</string>
		<key>0.9375</key>
		<string>89.51</string>
		<key>1.0000</key>
		<string>92.51</string>
	</dict>
	<key>707</key>
	<dict>
		<key>0.0625</key>
		<string>21.82</string>
		<key>0.1250</key>
		<string>28.82</string>
		<key>0.1875</key>
		<string>35.32</string>
		<key>0.2500</key>
		<string>40.32</string>
		<key>0.3125</key>
		<string>45.32</string>
		<key>0.3750</key>
		<string>49.82</string>
		<key>0.4375</key>
		<string>54.32</string>
		<key>0.5000</key>
		<string>58.32</string>
		<key>0.5625</key>
		<string>62.32</string>
		<key>0.6250</key>
		<string>66.32</string>
		<key>0.6875</key>
		<string>70.32</string>
		<key>0.7500</key>
		<string>73.82</string>
		<key>0.8125</key>
		<string>77.32</string>
		<key>0.8750</key>
		<string>80.82</string>
		<key>0.9375</key>
		<string>84.32</string>
		<key>1.0000</key>
		<string>87.32</string>
	</dict>
	<key>7072</key>
	<dict>
		<key>0.0625</key>
		<string>30.12</string>
		<key>0.1250</key>
		<string>37.12</string>
		<key>0.1875</key>
		<string>43.62</string>
		<key>0.2500</key>
		<string>48.62</string>
		<key>0.3125</key>
		<string>53.62</string>
		<key>0.3750</key>
		<string>58.12</string>
		<key>0.4375</key>
		<string>62.62</string>
		<key>0.5000</key>
		<string>66.62</string>
		<key>0.5625</key>
		<string>70.62</string>
		<key>0.6250</key>
		<string>74.62</string>
		<key>0.6875</key>
		<string>78.62</string>
		<key>0.7500</key>
		<string>82.12</string>
		<key>0.8125</key>
		<string>85.62</string>
		<key>0.8750</key>
		<string>89.12</string>
		<key>0.9375</key>
		<string>92.62</string>
		<key>1.0000</key>
		<string>95.62</string>
	</dict>
	<key>800</key>
	<dict>
		<key>0.0625</key>
		<string>21.25</string>
		<key>0.1250</key>
		<string>28.25</string>
		<key>0.1875</key>
		<string>34.75</string>
		<key>0.2500</key>
		<string>39.75</string>
		<key>0.3125</key>
		<string>44.75</string>
		<key>0.3750</key>
		<string>49.25</string>
		<key>0.4375</key>
		<string>53.75</string>
		<key>0.5000</key>
		<string>57.75</string>
		<key>0.5625</key>
		<string>61.75</string>
		<key>0.6250</key>
		<string>65.75</string>
		<key>0.6875</key>
		<string>69.75</string>
		<key>0.7500</key>
		<string>73.25</string>
		<key>0.8125</key>
		<string>76.75</string>
		<key>0.8750</key>
		<string>80.25</string>
		<key>0.9375</key>
		<string>83.75</string>
		<key>1.0000</key>
		<string>86.75</string>
	</dict>
	<key>8000</key>
	<dict>
		<key>0.0625</key>
		<string>32.99</string>
		<key>0.1250</key>
		<string>39.99</string>
		<key>0.1875</key>
		<string>46.49</string>
		<key>0.2500</key>
		<string>51.49</string>
		<key>0.3125</key>
		<string>56.49</string>
		<key>0.3750</key>
		<string>60.99</string>
		<key>0.4375</key>
		<string>65.49</string>
		<key>0.5000</key>
		<string>69.49</string>
		<key>0.5625</key>
		<string>73.49</string>
		<key>0.6250</key>
		<string>77.49</string>
		<key>0.6875</key>
		<string>81.49</string>
		<key>0.7500</key>
		<string>84.99</string>
		<key>0.8125</key>
		<string>88.49</string>
		<key>0.8750</key>
		<string>91.99</string>
		<key>0.9375</key>
		<string>95.49</string>
		<key>1.0000</key>
		<string>98.49</string>
	</dict>
	<key>898</key>
	<dict>
		<key>0.0625</key>
		<string>21.01</string>
		<key>0.1250</key>
		<string>28.01</string>
		<key>0.1875</key>
		<string>34.51</string>
		<key>0.2500</key>
		<string>39.51</string>
		<key>0.3125</key>
		<string>44.51</string>
		<key>0.3750</key>
		<string>49.01</string>
		<key>0.4375</key>
		<string>53.51</string>
		<key>0.5000</key>
		<string>57.51</string>
		<key>0.5625</key>
		<string>61.51</string>
		<key>0.6250</key>
		<string>65.51</string>
		<key>0.6875</key>
		<string>69.51</string>
		<key>0.7500</key>
		<string>73.01</string>
		<key>0.8125</key>
		<string>76.51</string>
		<key>0.8750</key>
		<string>80.01</string>
		<key>0.9375</key>
		<string>83.51</string>
		<key>1.0000</key>
		<string>86.51</string>
	</dict>
	<key>8980</key>
	<dict>
		<key>0.0625</key>
		<string>34.81</string>
		<key>0.1250</key>
		<string>41.81</string>
		<key>0.1875</key>
		<string>48.31</string>
		<key>0.2500</key>
		<string>53.31</string>
		<key>0.3125</key>
		<string>58.31</string>
		<key>0.3750</key>
		<string>62.81</string>
		<key>0.4375</key>
		<string>67.31</string>
		<key>0.5000</key>
		<string>71.31</string>
		<key>0.5625</key>
		<string>75.31</string>
		<key>0.6250</key>
		<string>79.31</string>
		<key>0.6875</key>
		<string>83.31</string>
		<key>0.7500</key>
		<string>86.81</string>
		<key>0.8125</key>
		<string>90.31</string>
		<key>0.8750</key>
		<string>93.81</string>
		<key>0.9375</key>
		<string>97.31</string>
		<key>1.0000</key>
		<string>100.31</string>
	</dict>
</dict>
</plist>
