<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>12500</key>
	<dict>
		<key>1.0000</key>
		<string>13.44</string>
		<key>0.9375</key>
		<string>13.44</string>
		<key>0.8750</key>
		<string>13.44</string>
		<key>0.8125</key>
		<string>13.44</string>
		<key>0.7500</key>
		<string>13.44</string>
		<key>0.6875</key>
		<string>12.65</string>
		<key>0.6250</key>
		<string>11.84</string>
		<key>0.5625</key>
		<string>11.03</string>
		<key>0.5000</key>
		<string>10.20</string>
		<key>0.4375</key>
		<string>9.38</string>
		<key>0.3750</key>
		<string>8.54</string>
		<key>0.3125</key>
		<string>7.71</string>
		<key>0.2500</key>
		<string>7.71</string>
		<key>0.1875</key>
		<string>7.71</string>
		<key>0.1250</key>
		<string>7.71</string>
		<key>0.0625</key>
		<string>7.71</string>
	</dict>
	<key>11224</key>
	<dict>
		<key>1.0000</key>
		<string>16.14</string>
		<key>0.9375</key>
		<string>16.14</string>
		<key>0.8750</key>
		<string>16.14</string>
		<key>0.8125</key>
		<string>16.14</string>
		<key>0.7500</key>
		<string>16.14</string>
		<key>0.6875</key>
		<string>15.40</string>
		<key>0.6250</key>
		<string>14.63</string>
		<key>0.5625</key>
		<string>13.86</string>
		<key>0.5000</key>
		<string>13.07</string>
		<key>0.4375</key>
		<string>12.26</string>
		<key>0.3750</key>
		<string>11.45</string>
		<key>0.3125</key>
		<string>10.63</string>
		<key>0.2500</key>
		<string>10.63</string>
		<key>0.1875</key>
		<string>10.63</string>
		<key>0.1250</key>
		<string>10.63</string>
		<key>0.0625</key>
		<string>10.63</string>
	</dict>
	<key>10000</key>
	<dict>
		<key>1.0000</key>
		<string>17.29</string>
		<key>0.9375</key>
		<string>17.29</string>
		<key>0.8750</key>
		<string>17.29</string>
		<key>0.8125</key>
		<string>17.29</string>
		<key>0.7500</key>
		<string>17.29</string>
		<key>0.6875</key>
		<string>16.63</string>
		<key>0.6250</key>
		<string>15.94</string>
		<key>0.5625</key>
		<string>15.22</string>
		<key>0.5000</key>
		<string>14.48</string>
		<key>0.4375</key>
		<string>13.73</string>
		<key>0.3750</key>
		<string>12.95</string>
		<key>0.3125</key>
		<string>12.17</string>
		<key>0.2500</key>
		<string>12.17</string>
		<key>0.1875</key>
		<string>12.17</string>
		<key>0.1250</key>
		<string>12.17</string>
		<key>0.0625</key>
		<string>12.17</string>
	</dict>
	<key>8980</key>
	<dict>
		<key>1.0000</key>
		<string>12.86</string>
		<key>0.9375</key>
		<string>12.86</string>
		<key>0.8750</key>
		<string>12.86</string>
		<key>0.8125</key>
		<string>12.86</string>
		<key>0.7500</key>
		<string>12.86</string>
		<key>0.6875</key>
		<string>12.30</string>
		<key>0.6250</key>
		<string>11.69</string>
		<key>0.5625</key>
		<string>11.05</string>
		<key>0.5000</key>
		<string>10.39</string>
		<key>0.4375</key>
		<string>9.69</string>
		<key>0.3750</key>
		<string>8.97</string>
		<key>0.3125</key>
		<string>8.23</string>
		<key>0.2500</key>
		<string>8.23</string>
		<key>0.1875</key>
		<string>8.23</string>
		<key>0.1250</key>
		<string>8.23</string>
		<key>0.0625</key>
		<string>8.23</string>
	</dict>
	<key>8000</key>
	<dict>
		<key>1.0000</key>
		<string>6.27</string>
		<key>0.9375</key>
		<string>6.27</string>
		<key>0.8750</key>
		<string>6.27</string>
		<key>0.8125</key>
		<string>6.27</string>
		<key>0.7500</key>
		<string>6.27</string>
		<key>0.6875</key>
		<string>5.82</string>
		<key>0.6250</key>
		<string>5.33</string>
		<key>0.5625</key>
		<string>4.80</string>
		<key>0.5000</key>
		<string>4.23</string>
		<key>0.4375</key>
		<string>3.62</string>
		<key>0.3750</key>
		<string>2.98</string>
		<key>0.3125</key>
		<string>2.31</string>
		<key>0.2500</key>
		<string>2.31</string>
		<key>0.1875</key>
		<string>2.31</string>
		<key>0.1250</key>
		<string>2.31</string>
		<key>0.0625</key>
		<string>2.31</string>
	</dict>
	<key>7072</key>
	<dict>
		<key>1.0000</key>
		<string>3.49</string>
		<key>0.9375</key>
		<string>3.49</string>
		<key>0.8750</key>
		<string>3.49</string>
		<key>0.8125</key>
		<string>3.49</string>
		<key>0.7500</key>
		<string>3.49</string>
		<key>0.6875</key>
		<string>3.16</string>
		<key>0.6250</key>
		<string>2.79</string>
		<key>0.5625</key>
		<string>2.38</string>
		<key>0.5000</key>
		<string>1.93</string>
		<key>0.4375</key>
		<string>1.44</string>
		<key>0.3750</key>
		<string>0.91</string>
		<key>0.3125</key>
		<string>0.33</string>
		<key>0.2500</key>
		<string>0.33</string>
		<key>0.1875</key>
		<string>0.33</string>
		<key>0.1250</key>
		<string>0.33</string>
		<key>0.0625</key>
		<string>0.33</string>
	</dict>
	<key>6300</key>
	<dict>
		<key>1.0000</key>
		<string>2.58</string>
		<key>0.9375</key>
		<string>2.58</string>
		<key>0.8750</key>
		<string>2.58</string>
		<key>0.8125</key>
		<string>2.58</string>
		<key>0.7500</key>
		<string>2.58</string>
		<key>0.6875</key>
		<string>2.35</string>
		<key>0.6250</key>
		<string>2.08</string>
		<key>0.5625</key>
		<string>1.78</string>
		<key>0.5000</key>
		<string>1.44</string>
		<key>0.4375</key>
		<string>1.06</string>
		<key>0.3750</key>
		<string>0.64</string>
		<key>0.3125</key>
		<string>0.17</string>
		<key>0.2500</key>
		<string>0.17</string>
		<key>0.1875</key>
		<string>0.17</string>
		<key>0.1250</key>
		<string>0.17</string>
		<key>0.0625</key>
		<string>0.17</string>
	</dict>
	<key>5612</key>
	<dict>
		<key>1.0000</key>
		<string>1.04</string>
		<key>0.9375</key>
		<string>1.04</string>
		<key>0.8750</key>
		<string>1.04</string>
		<key>0.8125</key>
		<string>1.04</string>
		<key>0.7500</key>
		<string>1.04</string>
		<key>0.6875</key>
		<string>0.89</string>
		<key>0.6250</key>
		<string>0.71</string>
		<key>0.5625</key>
		<string>0.50</string>
		<key>0.5000</key>
		<string>0.26</string>
		<key>0.4375</key>
		<string>-0.02</string>
		<key>0.3750</key>
		<string>-0.34</string>
		<key>0.3125</key>
		<string>-0.69</string>
		<key>0.2500</key>
		<string>-0.69</string>
		<key>0.1875</key>
		<string>-0.69</string>
		<key>0.1250</key>
		<string>-0.69</string>
		<key>0.0625</key>
		<string>-0.69</string>
	</dict>
	<key>5000</key>
	<dict>
		<key>1.0000</key>
		<string>-1.25</string>
		<key>0.9375</key>
		<string>-1.25</string>
		<key>0.8750</key>
		<string>-1.25</string>
		<key>0.8125</key>
		<string>-1.25</string>
		<key>0.7500</key>
		<string>-1.25</string>
		<key>0.6875</key>
		<string>-1.35</string>
		<key>0.6250</key>
		<string>-1.47</string>
		<key>0.5625</key>
		<string>-1.61</string>
		<key>0.5000</key>
		<string>-1.78</string>
		<key>0.4375</key>
		<string>-1.97</string>
		<key>0.3750</key>
		<string>-2.20</string>
		<key>0.3125</key>
		<string>-2.45</string>
		<key>0.2500</key>
		<string>-2.45</string>
		<key>0.1875</key>
		<string>-2.45</string>
		<key>0.1250</key>
		<string>-2.45</string>
		<key>0.0625</key>
		<string>-2.45</string>
	</dict>
	<key>4490</key>
	<dict>
		<key>1.0000</key>
		<string>-3.65</string>
		<key>0.9375</key>
		<string>-3.65</string>
		<key>0.8750</key>
		<string>-3.65</string>
		<key>0.8125</key>
		<string>-3.65</string>
		<key>0.7500</key>
		<string>-3.65</string>
		<key>0.6875</key>
		<string>-3.72</string>
		<key>0.6250</key>
		<string>-3.80</string>
		<key>0.5625</key>
		<string>-3.89</string>
		<key>0.5000</key>
		<string>-4.00</string>
		<key>0.4375</key>
		<string>-4.14</string>
		<key>0.3750</key>
		<string>-4.30</string>
		<key>0.3125</key>
		<string>-4.48</string>
		<key>0.2500</key>
		<string>-4.48</string>
		<key>0.1875</key>
		<string>-4.48</string>
		<key>0.1250</key>
		<string>-4.48</string>
		<key>0.0625</key>
		<string>-4.48</string>
	</dict>
	<key>4000</key>
	<dict>
		<key>1.0000</key>
		<string>-6.24</string>
		<key>0.9375</key>
		<string>-6.24</string>
		<key>0.8750</key>
		<string>-6.24</string>
		<key>0.8125</key>
		<string>-6.24</string>
		<key>0.7500</key>
		<string>-6.24</string>
		<key>0.6875</key>
		<string>-6.29</string>
		<key>0.6250</key>
		<string>-6.34</string>
		<key>0.5625</key>
		<string>-6.40</string>
		<key>0.5000</key>
		<string>-6.47</string>
		<key>0.4375</key>
		<string>-6.56</string>
		<key>0.3750</key>
		<string>-6.66</string>
		<key>0.3125</key>
		<string>-6.79</string>
		<key>0.2500</key>
		<string>-6.79</string>
		<key>0.1875</key>
		<string>-6.79</string>
		<key>0.1250</key>
		<string>-6.79</string>
		<key>0.0625</key>
		<string>-6.79</string>
	</dict>
	<key>3536</key>
	<dict>
		<key>1.0000</key>
		<string>-8.66</string>
		<key>0.9375</key>
		<string>-8.66</string>
		<key>0.8750</key>
		<string>-8.66</string>
		<key>0.8125</key>
		<string>-8.66</string>
		<key>0.7500</key>
		<string>-8.66</string>
		<key>0.6875</key>
		<string>-8.68</string>
		<key>0.6250</key>
		<string>-8.71</string>
		<key>0.5625</key>
		<string>-8.75</string>
		<key>0.5000</key>
		<string>-8.80</string>
		<key>0.4375</key>
		<string>-8.85</string>
		<key>0.3750</key>
		<string>-8.92</string>
		<key>0.3125</key>
		<string>-9.00</string>
		<key>0.2500</key>
		<string>-9.00</string>
		<key>0.1875</key>
		<string>-9.00</string>
		<key>0.1250</key>
		<string>-9.00</string>
		<key>0.0625</key>
		<string>-9.00</string>
	</dict>
	<key>3150</key>
	<dict>
		<key>1.0000</key>
		<string>-9.83</string>
		<key>0.9375</key>
		<string>-9.83</string>
		<key>0.8750</key>
		<string>-9.83</string>
		<key>0.8125</key>
		<string>-9.83</string>
		<key>0.7500</key>
		<string>-9.83</string>
		<key>0.6875</key>
		<string>-9.85</string>
		<key>0.6250</key>
		<string>-9.87</string>
		<key>0.5625</key>
		<string>-9.89</string>
		<key>0.5000</key>
		<string>-9.92</string>
		<key>0.4375</key>
		<string>-9.96</string>
		<key>0.3750</key>
		<string>-10</string>
		<key>0.3125</key>
		<string>-10.05</string>
		<key>0.2500</key>
		<string>-10.05</string>
		<key>0.1875</key>
		<string>-10.05</string>
		<key>0.1250</key>
		<string>-10.05</string>
		<key>0.0625</key>
		<string>-10.05</string>
	</dict>
	<key>2806</key>
	<dict>
		<key>1.0000</key>
		<string>-9.58</string>
		<key>0.9375</key>
		<string>-9.58</string>
		<key>0.8750</key>
		<string>-9.58</string>
		<key>0.8125</key>
		<string>-9.58</string>
		<key>0.7500</key>
		<string>-9.58</string>
		<key>0.6875</key>
		<string>-9.59</string>
		<key>0.6250</key>
		<string>-9.61</string>
		<key>0.5625</key>
		<string>-9.62</string>
		<key>0.5000</key>
		<string>-9.64</string>
		<key>0.4375</key>
		<string>-9.66</string>
		<key>0.3750</key>
		<string>-9.69</string>
		<key>0.3125</key>
		<string>-9.73</string>
		<key>0.2500</key>
		<string>-9.73</string>
		<key>0.1875</key>
		<string>-9.73</string>
		<key>0.1250</key>
		<string>-9.73</string>
		<key>0.0625</key>
		<string>-9.73</string>
	</dict>
	<key>2500</key>
	<dict>
		<key>1.0000</key>
		<string>-8.19</string>
		<key>0.9375</key>
		<string>-8.19</string>
		<key>0.8750</key>
		<string>-8.19</string>
		<key>0.8125</key>
		<string>-8.19</string>
		<key>0.7500</key>
		<string>-8.19</string>
		<key>0.6875</key>
		<string>-8.19</string>
		<key>0.6250</key>
		<string>-8.20</string>
		<key>0.5625</key>
		<string>-8.21</string>
		<key>0.5000</key>
		<string>-8.22</string>
		<key>0.4375</key>
		<string>-8.24</string>
		<key>0.3750</key>
		<string>-8.26</string>
		<key>0.3125</key>
		<string>-8.28</string>
		<key>0.2500</key>
		<string>-8.28</string>
		<key>0.1875</key>
		<string>-8.28</string>
		<key>0.1250</key>
		<string>-8.28</string>
		<key>0.0625</key>
		<string>-8.28</string>
	</dict>
	<key>2245</key>
	<dict>
		<key>1.0000</key>
		<string>-6.25</string>
		<key>0.9375</key>
		<string>-6.25</string>
		<key>0.8750</key>
		<string>-6.25</string>
		<key>0.8125</key>
		<string>-6.25</string>
		<key>0.7500</key>
		<string>-6.25</string>
		<key>0.6875</key>
		<string>-6.26</string>
		<key>0.6250</key>
		<string>-6.26</string>
		<key>0.5625</key>
		<string>-6.27</string>
		<key>0.5000</key>
		<string>-6.28</string>
		<key>0.4375</key>
		<string>-6.29</string>
		<key>0.3750</key>
		<string>-6.30</string>
		<key>0.3125</key>
		<string>-6.32</string>
		<key>0.2500</key>
		<string>-6.32</string>
		<key>0.1875</key>
		<string>-6.32</string>
		<key>0.1250</key>
		<string>-6.32</string>
		<key>0.0625</key>
		<string>-6.32</string>
	</dict>
	<key>2000</key>
	<dict>
		<key>1.0000</key>
		<string>-3.64</string>
		<key>0.9375</key>
		<string>-3.64</string>
		<key>0.8750</key>
		<string>-3.64</string>
		<key>0.8125</key>
		<string>-3.64</string>
		<key>0.7500</key>
		<string>-3.64</string>
		<key>0.6875</key>
		<string>-3.64</string>
		<key>0.6250</key>
		<string>-3.65</string>
		<key>0.5625</key>
		<string>-3.65</string>
		<key>0.5000</key>
		<string>-3.66</string>
		<key>0.4375</key>
		<string>-3.66</string>
		<key>0.3750</key>
		<string>-3.67</string>
		<key>0.3125</key>
		<string>-3.69</string>
		<key>0.2500</key>
		<string>-3.69</string>
		<key>0.1875</key>
		<string>-3.69</string>
		<key>0.1250</key>
		<string>-3.69</string>
		<key>0.0625</key>
		<string>-3.69</string>
	</dict>
	<key>1796</key>
	<dict>
		<key>1.0000</key>
		<string>-1.00</string>
		<key>0.9375</key>
		<string>-1.00</string>
		<key>0.8750</key>
		<string>-1.00</string>
		<key>0.8125</key>
		<string>-1.00</string>
		<key>0.7500</key>
		<string>-1.00</string>
		<key>0.6875</key>
		<string>-1.00</string>
		<key>0.6250</key>
		<string>-1.00</string>
		<key>0.5625</key>
		<string>-1.01</string>
		<key>0.5000</key>
		<string>-1.01</string>
		<key>0.4375</key>
		<string>-1.02</string>
		<key>0.3750</key>
		<string>-1.02</string>
		<key>0.3125</key>
		<string>-1.03</string>
		<key>0.2500</key>
		<string>-1.03</string>
		<key>0.1875</key>
		<string>-1.03</string>
		<key>0.1250</key>
		<string>-1.03</string>
		<key>0.0625</key>
		<string>-1.03</string>
	</dict>
	<key>1600</key>
	<dict>
		<key>1.0000</key>
		<string>1.04</string>
		<key>0.9375</key>
		<string>1.04</string>
		<key>0.8750</key>
		<string>1.04</string>
		<key>0.8125</key>
		<string>1.04</string>
		<key>0.7500</key>
		<string>1.04</string>
		<key>0.6875</key>
		<string>1.04</string>
		<key>0.6250</key>
		<string>1.04</string>
		<key>0.5625</key>
		<string>1.03</string>
		<key>0.5000</key>
		<string>1.03</string>
		<key>0.4375</key>
		<string>1.03</string>
		<key>0.3750</key>
		<string>1.02</string>
		<key>0.3125</key>
		<string>1.01</string>
		<key>0.2500</key>
		<string>1.01</string>
		<key>0.1875</key>
		<string>1.01</string>
		<key>0.1250</key>
		<string>1.01</string>
		<key>0.0625</key>
		<string>1.01</string>
	</dict>
	<key>1403</key>
	<dict>
		<key>1.0000</key>
		<string>1.78</string>
		<key>0.9375</key>
		<string>1.78</string>
		<key>0.8750</key>
		<string>1.78</string>
		<key>0.8125</key>
		<string>1.78</string>
		<key>0.7500</key>
		<string>1.78</string>
		<key>0.6875</key>
		<string>1.78</string>
		<key>0.6250</key>
		<string>1.78</string>
		<key>0.5625</key>
		<string>1.77</string>
		<key>0.5000</key>
		<string>1.77</string>
		<key>0.4375</key>
		<string>1.76</string>
		<key>0.3750</key>
		<string>1.76</string>
		<key>0.3125</key>
		<string>1.75</string>
		<key>0.2500</key>
		<string>1.75</string>
		<key>0.1875</key>
		<string>1.75</string>
		<key>0.1250</key>
		<string>1.75</string>
		<key>0.0625</key>
		<string>1.75</string>
	</dict>
	<key>1250</key>
	<dict>
		<key>1.0000</key>
		<string>1.45</string>
		<key>0.9375</key>
		<string>1.45</string>
		<key>0.8750</key>
		<string>1.45</string>
		<key>0.8125</key>
		<string>1.45</string>
		<key>0.7500</key>
		<string>1.45</string>
		<key>0.6875</key>
		<string>1.44</string>
		<key>0.6250</key>
		<string>1.44</string>
		<key>0.5625</key>
		<string>1.44</string>
		<key>0.5000</key>
		<string>1.43</string>
		<key>0.4375</key>
		<string>1.43</string>
		<key>0.3750</key>
		<string>1.42</string>
		<key>0.3125</key>
		<string>1.41</string>
		<key>0.2500</key>
		<string>1.41</string>
		<key>0.1875</key>
		<string>1.41</string>
		<key>0.1250</key>
		<string>1.41</string>
		<key>0.0625</key>
		<string>1.41</string>
	</dict>
	<key>1122</key>
	<dict>
		<key>1.0000</key>
		<string>0.69</string>
		<key>0.9375</key>
		<string>0.69</string>
		<key>0.8750</key>
		<string>0.69</string>
		<key>0.8125</key>
		<string>0.69</string>
		<key>0.7500</key>
		<string>0.69</string>
		<key>0.6875</key>
		<string>0.69</string>
		<key>0.6250</key>
		<string>0.68</string>
		<key>0.5625</key>
		<string>0.68</string>
		<key>0.5000</key>
		<string>0.67</string>
		<key>0.4375</key>
		<string>0.67</string>
		<key>0.3750</key>
		<string>0.69</string>
		<key>0.3125</key>
		<string>0.65</string>
		<key>0.2500</key>
		<string>0.65</string>
		<key>0.1875</key>
		<string>0.65</string>
		<key>0.1250</key>
		<string>0.65</string>
		<key>0.0625</key>
		<string>0.65</string>
	</dict>
	<key>1000</key>
	<dict>
		<key>1.0000</key>
		<string>0</string>
		<key>0.9375</key>
		<string>0</string>
		<key>0.8750</key>
		<string>0</string>
		<key>0.8125</key>
		<string>0</string>
		<key>0.7500</key>
		<string>0</string>
		<key>0.6875</key>
		<string>0</string>
		<key>0.6250</key>
		<string>-0.01</string>
		<key>0.5625</key>
		<string>-0.01</string>
		<key>0.5000</key>
		<string>-0.02</string>
		<key>0.4375</key>
		<string>-0.02</string>
		<key>0.3750</key>
		<string>-0.04</string>
		<key>0.3125</key>
		<string>-0.05</string>
		<key>0.2500</key>
		<string>-0.05</string>
		<key>0.1875</key>
		<string>-0.05</string>
		<key>0.1250</key>
		<string>-0.05</string>
		<key>0.0625</key>
		<string>-0.05</string>
	</dict>
	<key>898</key>
	<dict>
		<key>1.0000</key>
		<string>-0.23</string>
		<key>0.9375</key>
		<string>-0.23</string>
		<key>0.8750</key>
		<string>-0.23</string>
		<key>0.8125</key>
		<string>-0.23</string>
		<key>0.7500</key>
		<string>-0.23</string>
		<key>0.6875</key>
		<string>-0.24</string>
		<key>0.6250</key>
		<string>-0.24</string>
		<key>0.5625</key>
		<string>-0.25</string>
		<key>0.5000</key>
		<string>-0.25</string>
		<key>0.4375</key>
		<string>-0.26</string>
		<key>0.3750</key>
		<string>-0.28</string>
		<key>0.3125</key>
		<string>-0.29</string>
		<key>0.2500</key>
		<string>-0.29</string>
		<key>0.1875</key>
		<string>-0.29</string>
		<key>0.1250</key>
		<string>-0.29</string>
		<key>0.0625</key>
		<string>-0.29</string>
	</dict>
	<key>800</key>
	<dict>
		<key>1.0000</key>
		<string>-0.13</string>
		<key>0.9375</key>
		<string>-0.13</string>
		<key>0.8750</key>
		<string>-0.13</string>
		<key>0.8125</key>
		<string>-0.13</string>
		<key>0.7500</key>
		<string>-0.13</string>
		<key>0.6875</key>
		<string>-0.14</string>
		<key>0.6250</key>
		<string>-0.14</string>
		<key>0.5625</key>
		<string>-0.15</string>
		<key>0.5000</key>
		<string>-0.16</string>
		<key>0.4375</key>
		<string>-0.17</string>
		<key>0.3750</key>
		<string>-0.19</string>
		<key>0.3125</key>
		<string>-0.21</string>
		<key>0.2500</key>
		<string>-0.21</string>
		<key>0.1875</key>
		<string>-0.21</string>
		<key>0.1250</key>
		<string>-0.21</string>
		<key>0.0625</key>
		<string>-0.21</string>
	</dict>
	<key>707</key>
	<dict>
		<key>1.0000</key>
		<string>0.23</string>
		<key>0.9375</key>
		<string>0.23</string>
		<key>0.8750</key>
		<string>0.23</string>
		<key>0.8125</key>
		<string>0.23</string>
		<key>0.7500</key>
		<string>0.23</string>
		<key>0.6875</key>
		<string>0.23</string>
		<key>0.6250</key>
		<string>0.22</string>
		<key>0.5625</key>
		<string>0.21</string>
		<key>0.5000</key>
		<string>0.20</string>
		<key>0.4375</key>
		<string>0.19</string>
		<key>0.3750</key>
		<string>0.17</string>
		<key>0.3125</key>
		<string>0.14</string>
		<key>0.2500</key>
		<string>0.14</string>
		<key>0.1875</key>
		<string>0.14</string>
		<key>0.1250</key>
		<string>0.14</string>
		<key>0.0625</key>
		<string>0.14</string>
	</dict>
	<key>630</key>
	<dict>
		<key>1.0000</key>
		<string>0.80</string>
		<key>0.9375</key>
		<string>0.80</string>
		<key>0.8750</key>
		<string>0.80</string>
		<key>0.8125</key>
		<string>0.80</string>
		<key>0.7500</key>
		<string>0.80</string>
		<key>0.6875</key>
		<string>0.80</string>
		<key>0.6250</key>
		<string>0.79</string>
		<key>0.5625</key>
		<string>0.78</string>
		<key>0.5000</key>
		<string>0.76</string>
		<key>0.4375</key>
		<string>0.74</string>
		<key>0.3750</key>
		<string>0.72</string>
		<key>0.3125</key>
		<string>0.68</string>
		<key>0.2500</key>
		<string>0.68</string>
		<key>0.1875</key>
		<string>0.68</string>
		<key>0.1250</key>
		<string>0.68</string>
		<key>0.0625</key>
		<string>0.68</string>
	</dict>
	<key>561</key>
	<dict>
		<key>1.0000</key>
		<string>1.60</string>
		<key>0.9375</key>
		<string>1.60</string>
		<key>0.8750</key>
		<string>1.60</string>
		<key>0.8125</key>
		<string>1.60</string>
		<key>0.7500</key>
		<string>1.60</string>
		<key>0.6875</key>
		<string>1.59</string>
		<key>0.6250</key>
		<string>1.58</string>
		<key>0.5625</key>
		<string>1.57</string>
		<key>0.5000</key>
		<string>1.55</string>
		<key>0.4375</key>
		<string>1.53</string>
		<key>0.3750</key>
		<string>1.49</string>
		<key>0.3125</key>
		<string>1.45</string>
		<key>0.2500</key>
		<string>1.45</string>
		<key>0.1875</key>
		<string>1.45</string>
		<key>0.1250</key>
		<string>1.45</string>
		<key>0.0625</key>
		<string>1.45</string>
	</dict>
	<key>500</key>
	<dict>
		<key>1.0000</key>
		<string>2.60</string>
		<key>0.9375</key>
		<string>2.60</string>
		<key>0.8750</key>
		<string>2.60</string>
		<key>0.8125</key>
		<string>2.60</string>
		<key>0.7500</key>
		<string>2.60</string>
		<key>0.6875</key>
		<string>2.59</string>
		<key>0.6250</key>
		<string>2.57</string>
		<key>0.5625</key>
		<string>2.56</string>
		<key>0.5000</key>
		<string>2.53</string>
		<key>0.4375</key>
		<string>2.50</string>
		<key>0.3750</key>
		<string>2.46</string>
		<key>0.3125</key>
		<string>2.41</string>
		<key>0.2500</key>
		<string>2.41</string>
		<key>0.1875</key>
		<string>2.41</string>
		<key>0.1250</key>
		<string>2.41</string>
		<key>0.0625</key>
		<string>2.41</string>
	</dict>
	<key>449</key>
	<dict>
		<key>1.0000</key>
		<string>3.69</string>
		<key>0.9375</key>
		<string>3.69</string>
		<key>0.8750</key>
		<string>3.69</string>
		<key>0.8125</key>
		<string>3.69</string>
		<key>0.7500</key>
		<string>3.69</string>
		<key>0.6875</key>
		<string>3.67</string>
		<key>0.6250</key>
		<string>3.66</string>
		<key>0.5625</key>
		<string>3.64</string>
		<key>0.5000</key>
		<string>3.61</string>
		<key>0.4375</key>
		<string>3.57</string>
		<key>0.3750</key>
		<string>3.52</string>
		<key>0.3125</key>
		<string>3.45</string>
		<key>0.2500</key>
		<string>3.45</string>
		<key>0.1875</key>
		<string>3.45</string>
		<key>0.1250</key>
		<string>3.45</string>
		<key>0.0625</key>
		<string>3.45</string>
	</dict>
	<key>400</key>
	<dict>
		<key>1.0000</key>
		<string>5.01</string>
		<key>0.9375</key>
		<string>5.01</string>
		<key>0.8750</key>
		<string>5.01</string>
		<key>0.8125</key>
		<string>5.01</string>
		<key>0.7500</key>
		<string>5.01</string>
		<key>0.6875</key>
		<string>4.99</string>
		<key>0.6250</key>
		<string>4.97</string>
		<key>0.5625</key>
		<string>4.95</string>
		<key>0.5000</key>
		<string>4.91</string>
		<key>0.4375</key>
		<string>4.86</string>
		<key>0.3750</key>
		<string>4.80</string>
		<key>0.3125</key>
		<string>4.72</string>
		<key>0.2500</key>
		<string>4.72</string>
		<key>0.1875</key>
		<string>4.72</string>
		<key>0.1250</key>
		<string>4.72</string>
		<key>0.0625</key>
		<string>4.72</string>
	</dict>
	<key>354</key>
	<dict>
		<key>1.0000</key>
		<string>6.53</string>
		<key>0.9375</key>
		<string>6.53</string>
		<key>0.8750</key>
		<string>6.53</string>
		<key>0.8125</key>
		<string>6.53</string>
		<key>0.7500</key>
		<string>6.53</string>
		<key>0.6875</key>
		<string>6.51</string>
		<key>0.6250</key>
		<string>6.49</string>
		<key>0.5625</key>
		<string>6.46</string>
		<key>0.5000</key>
		<string>6.41</string>
		<key>0.4375</key>
		<string>6.35</string>
		<key>0.3750</key>
		<string>6.27</string>
		<key>0.3125</key>
		<string>6.17</string>
		<key>0.2500</key>
		<string>6.17</string>
		<key>0.1875</key>
		<string>6.17</string>
		<key>0.1250</key>
		<string>6.17</string>
		<key>0.0625</key>
		<string>6.17</string>
	</dict>
	<key>315</key>
	<dict>
		<key>1.0000</key>
		<string>8.03</string>
		<key>0.9375</key>
		<string>8.03</string>
		<key>0.8750</key>
		<string>8.03</string>
		<key>0.8125</key>
		<string>8.03</string>
		<key>0.7500</key>
		<string>8.03</string>
		<key>0.6875</key>
		<string>8.01</string>
		<key>0.6250</key>
		<string>7.98</string>
		<key>0.5625</key>
		<string>7.93</string>
		<key>0.5000</key>
		<string>7.88</string>
		<key>0.4375</key>
		<string>7.80</string>
		<key>0.3750</key>
		<string>7.70</string>
		<key>0.3125</key>
		<string>7.58</string>
		<key>0.2500</key>
		<string>7.58</string>
		<key>0.1875</key>
		<string>7.58</string>
		<key>0.1250</key>
		<string>7.58</string>
		<key>0.0625</key>
		<string>7.58</string>
	</dict>
</dict>
</plist>
