//
// ResearchKitInternal-Skywagon-Shared
//

// using RK's config file for now

#include "../ResearchKit/Configuration/ResearchKit/ResearchKit-Shared.xcconfig"

// overrides from the original config files

GCC_PREFIX_HEADER =
INFOPLIST_FILE =
MODULEMAP_FILE = ResearchKitInternal/ResearchKitInternal.modulemap
PRODUCT_NAME = ResearchKitInternal
ORK_GCC_PREPROCESSOR_DEFINITIONS = RK_APPLE_INTERNAL=1 ORK_FEATURE_AV_JOURNALING=1 ORK_FEATURE_AV_JOURNALING_DEPTH_DATA_COLLECTION=1 ORK_FEATURE_BLE_SCAN_PERIPHERALS=1
