//
// ResearchKitInternal-Skywagon-Shared
//

// using RK's config file for now

#include "../ResearchKit/Configuration/ResearchKit/ResearchKit-Shared.xcconfig"

// overrides from the original config files

GCC_PREFIX_HEADER =
INFOPLIST_FILE =
MODULEMAP_FILE = ResearchKitInternal/ResearchKitInternal.modulemap
PRODUCT_NAME = ResearchKitInternal

ORK_GCC_PREPROCESSOR_DEFINITIONS = $(inherited) 
