<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100</key>
	<string>85.60</string>
	<key>125</key>
	<string>85.60</string>
	<key>140</key>
	<string>85.43</string>
	<key>157</key>
	<string>85.25</string>
	<key>160</key>
	<string>85,25</string>
	<key>176</key>
	<string>85.06</string>
	<key>200</key>
	<string>84.85</string>
	<key>222</key>
	<string>84.68</string>
	<key>250</key>
	<string>84.50</string>
	<key>280</key>
	<string>84.34</string>
	<key>315</key>
	<string>84.21</string>
	<key>354</key>
	<string>84.11</string>
	<key>400</key>
	<string>84.07</string>
	<key>449</key>
	<string>84.10</string>
	<key>500</key>
	<string>84.20</string>
	<key>561</key>
	<string>84.406</string>
	<key>630</key>
	<string>84.72</string>
	<key>707</key>
	<string>85.15</string>
	<key>800</key>
	<string>85.70</string>
	<key>898</key>
	<string>86.25</string>
	<key>1000</key>
	<string>86.70</string>
	<key>1122</key>
	<string>86.98</string>
	<key>1250</key>
	<string>87.10</string>
	<key>1403</key>
	<string>87.26</string>
	<key>1600</key>
	<string>87.94</string>
	<key>1796</key>
	<string>89.17</string>
	<key>2000</key>
	<string>90.50</string>
	<key>2245</key>
	<string>91.54</string>
	<key>2500</key>
	<string>91.92</string>
	<key>2806</key>
	<string>91.54</string>
	<key>3150</key>
	<string>90.23</string>
	<key>3536</key>
	<string>88.11</string>
	<key>4000</key>
	<string>85.70</string>
	<key>4490</key>
	<string>84.38</string>
	<key>5000</key>
	<string>84.25</string>
	<key>5612</key>
	<string>85.11</string>
	<key>6300</key>
	<string>86.49</string>
	<key>7072</key>
	<string>87.88</string>
	<key>8000</key>
	<string>89.30</string>
	<key>8980</key>
	<string>89.90</string>
	<key>10000</key>
	<string>87.80</string>
	<key>11224</key>
	<string>86.30</string>
	<key>12500</key>
	<string>86.30</string>
</dict>
</plist>
