//
// ResearchKitCore-(watchOS)-Shared.xcconfig
//

CODE_SIGN_IDENTITY =
CODE_SIGN_STYLE = Manual
APPLICATION_EXTENSION_API_ONLY = YES
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_ENABLE_OBJC_WEAK = YES
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
CODE_SIGN_STYLE = Manual
CURRENT_PROJECT_VERSION = 1
DEFINES_MODULE = YES
DEVELOPMENT_TEAM = 
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
GCC_C_LANGUAGE_STANDARD = gnu11
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = ResearchKit/ResearchKit_Prefix.pch
GCC_PREPROCESSOR_DEFINITIONS = $(inherited)
INFOPLIST_FILE = ResearchKitCore/Info.plist
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
MODULEMAP_FILE = ResearchKitCore/ResearchKitCore.modulemap
MTL_FAST_MATH = YES
OTHER_CFLAGS = 
PRODUCT_BUNDLE_IDENTIFIER = org.researchkit.ResearchKitCore
PRODUCT_NAME = ResearchKitCore
PROVISIONING_PROFILE_SPECIFIER = 
SDKROOT = watchos
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 4
VERSION_INFO_PREFIX = 
VERSIONING_SYSTEM = apple-generic
WATCHOS_DEPLOYMENT_TARGET = 6.1
