//
// ResearchKitTests-Shared.xcconfig
//

CLANG_CXX_LANGUAGE_STANDARD = gnu++0x
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_WARN_SHADOW = NO
INFOPLIST_FILE = ResearchKitTests/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = org.researchkit.$(PRODUCT_NAME:rfc1034identifier)
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_VERSION = 5.0

// start-omit-internal-code
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) APPLE_INTERNAL=1 ORK_FEATURE_AV_JOURNALING=1 ORK_FEATURE_BLE_SCAN_PERIPHERALS=1
// end-omit-internal-code
