<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100</key>
	<string>15.67</string>
	<key>125</key>
	<string>14.32</string>
	<key>160</key>
	<string>13.03</string>
	<key>200</key>
	<string>10.49</string>
	<key>222</key>
	<string>9.48</string>
	<key>250</key>
	<string>8.38</string>
	<key>315</key>
	<string>6.32</string>
	<key>354</key>
	<string>5.29</string>
	<key>400</key>
	<string>4.24</string>
	<key>449</key>
	<string>3.34</string>
	<key>500</key>
	<string>2.59</string>
	<key>561</key>
	<string>1.87</string>
	<key>630</key>
	<string>1.25</string>
	<key>707</key>
	<string>0.74</string>
	<key>800</key>
	<string>0.32</string>
	<key>898</key>
	<string>0.06</string>
	<key>1000</key>
	<string>0</string>
	<key>1122</key>
	<string>0.15</string>
	<key>1250</key>
	<string>0.24</string>
	<key>1403</key>
	<string>-0.19</string>
	<key>1600</key>
	<string>-1.53</string>
	<key>1796</key>
	<string>-3.65</string>
	<key>2000</key>
	<string>-6.03</string>
	<key>2245</key>
	<string>-8.16</string>
	<key>2500</key>
	<string>-9.52</string>
	<key>2806</key>
	<string>-10.28</string>
	<key>3150</key>
	<string>-10.08</string>
	<key>3536</key>
	<string>-8.9</string>
	<key>4000</key>
	<string>-7.18</string>
	<key>4490</key>
	<string>-6.04</string>
	<key>5000</key>
	<string>-5.33</string>
	<key>5612</key>
	<string>-4.28</string>
	<key>6300</key>
	<string>-1.68</string>
	<key>7072</key>
	<string>2.94</string>
	<key>8000</key>
	<string>8.12</string>
	<key>8980</key>
	<string>11.98</string>
	<key>10000</key>
	<string>16.64</string>
	<key>11224</key>
	<string>19.99</string>
	<key>12500</key>
	<string>14.85</string>
</dict>
</plist>
