<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100</key>
	<string>21.68</string>
	<key>125</key>
	<string>21.68</string>
	<key>160</key>
	<string>20.03</string>
	<key>200</key>
	<string>15.25</string>
	<key>222</key>
	<string>13.97</string>
	<key>250</key>
	<string>12.59</string>
	<key>315</key>
	<string>10.06</string>
	<key>354</key>
	<string>8.83</string>
	<key>400</key>
	<string>7.6</string>
	<key>449</key>
	<string>6.51</string>
	<key>500</key>
	<string>5.54</string>
	<key>561</key>
	<string>4.45</string>
	<key>630</key>
	<string>3.31</string>
	<key>707</key>
	<string>2.17</string>
	<key>800</key>
	<string>1.05</string>
	<key>898</key>
	<string>0.26</string>
	<key>1000</key>
	<string>0</string>
	<key>1122</key>
	<string>0.51</string>
	<key>1250</key>
	<string>1.41</string>
	<key>1403</key>
	<string>2.03</string>
	<key>1600</key>
	<string>1.26</string>
	<key>1796</key>
	<string>-1.34</string>
	<key>2000</key>
	<string>-4.58</string>
	<key>2245</key>
	<string>-7.31</string>
	<key>2500</key>
	<string>-.8.72</string>
	<key>2806</key>
	<string>-9.01</string>
	<key>3150</key>
	<string>-7.93</string>
	<key>3536</key>
	<string>-5.59</string>
	<key>4000</key>
	<string>-2.36</string>
	<key>4490</key>
	<string>0.38</string>
	<key>5000</key>
	<string>2.45</string>
	<key>5612</key>
	<string>4.28</string>
	<key>6300</key>
	<string>6.02</string>
	<key>7072</key>
	<string>7.74</string>
	<key>8000</key>
	<string>9.19</string>
	<key>8980</key>
	<string>10.41</string>
	<key>10000</key>
	<string>13.17</string>
	<key>11224</key>
	<string>14.02</string>
	<key>12500</key>
	<string>11.88</string>
</dict>
</plist>
