<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WHITENOISE</key>
	<string>84.36</string>
	<key>CICADAS</key>
	<string>88.61</string>
	<key>CRICKETS</key>
	<string>86.13</string>
	<key>TEAKETTLE</key>
	<string>84.27</string>
</dict>
</plist>
