<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WHITENOISE</key>
	<string>85.24</string>
	<key>CICADAS</key>
	<string>89.32</string>
	<key>CRICKETS</key>
	<string>87.50</string>
	<key>TEAKETTLE</key>
	<string>85.00</string>
</dict>
</plist>
