<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WHITENOISE</key>
	<string>83.54</string>
	<key>CICADAS</key>
	<string>87.49</string>
	<key>CRICKETS</key>
	<string>85.46</string>
	<key>TEAKETTLE</key>
	<string>83.15</string>
</dict>
</plist>
